[2015-12-29 17:11] mscdex opened #1 "Suggestion"
When giving (especially performance-related) tips, any GC-related implications should be noted. For example, the sample tip in the readme shows a "faster" `arr.unshift()` by concatenating arrays. If this operation is performed very often, the GC will be collecting a bunch of temporary arrays that are immediately discarded.

[2015-12-29 17:34] loverajoel commented on #1
Hey @mscdex thanks, yes you are right I will take care about it for the next tips.
Thanks for your tip :smile:

[2015-12-30 14:10] #1 closed

[2015-12-31 09:32] s850042002 opened #9 "How about add element at the end and beginning using splice in tip #0"
it's not declarative, but still curious about the performance
[code]

[2015-12-31 11:04] FlorianBELLAZOUZ commented on #9
I do a test for you : https://jsperf.com/push-item-inside-an-array/6

[code]

[2016-01-01 15:33] mdibaiee opened #10 "Don't use microbenchmarks"
Hey,

I highly suggest you read these:

http://mrale.ph/blog/2014/02/23/the-black-cat-of-microbenchmarks.html
http://mrale.ph/blog/2012/12/15/microbenchmarks-fairy-tale.html
http://jsperf.com/string-concat-fast/9#comment-1

Most of those microbenchmarks are illusions, I suggest you shift from those performance tips killing code readability to some actually useful tips, I really like the idea of re

[2016-01-01 15:39] mamal72 commented on #10
Hey,
Well, I agree with @mdibaiee too. I like readable code more than some weird fast code.
I think these parts of performance stuff and optimizations should be done inside the JS engines. :+1:

[2016-01-01 18:19] GantMan commented on #10
ALSO: Tips like this do not account for future.  Even if you were 100% right (and agreed the VM means you're not with a mircotest), versions + environment changes means that you're adding a death sentence to your JS tip.  It's better to create tips that will stand the whole year and enrich your repo as it grows.

[2016-01-01 23:21] connor4312 commented on #10
This. Sometimes, hacks may be faster. But engines strive to make the _correct_ way faster--that's what they're optimizing for. In the long run, as engines improve, hacks will inevitably end up being slower while reducing the readability/maintainability of your code.

[2016-01-02 07:20] li-xinyang opened #11 "Descent Order for Everyday Tip"
[code]

Otherwise, we may have to scroll to the end of the page in order to find the latest tip.

[2016-01-02 14:13] FlorianBELLAZOUZ commented on #11
:+1:

[2016-01-02 16:42] CodeBrauer commented on #11
:+1:

[2016-01-02 20:14] loverajoel commented on #11
@li-xinyang yes this is a good catch, I will change the order! Thanks for the suggestion.

[2016-01-02 20:28] loverajoel commented on #10
Hey guys, I understand what you are saying and yes, maybe was a bad tip to start.
The tips will not be always about performance, but thanks for your suggestion I will take care for the future.
@mdibaiee good articles, you are 100% right.

This kind of comments are very usefull and I'm thinking of link this issue with the tip.

I invite you to send some tip and help the community write better code!

[2016-01-02 20:35] loverajoel commented on #11
Done https://github.com/loverajoel/jstips/commit/7b6229b985340ad9619be2fc7c1cd3bc4f35f4e6

[2016-01-02 20:35] #11 closed

[2016-01-02 21:22] mallowigi opened #12 "Consider using form submissions"
This repository is not really suited for pull requests: there is only one file to edit and we don't exactly know how. Why not use forms to let people post their tips, then select one every day?

[2016-01-02 21:35] eggcaker opened #13 "One tip per file"
How about keep one tip per file instead one page for all ?
In the future can do view tips like tldr ?  can generate the  one page tips with each tip .

[2016-01-02 21:41] loverajoel commented on #12
hey @mallowigi,
I thought create a form or even a blog, but developers likes use github and write markdown, that's the reason why I chose this.
In order to add a new tip is easily. Just add your tip with [this format](https://github.com/loverajoel/jstips/blob/master/CONTRIBUTING.md#tip-format) at the top of the [tips list](https://github.com/loverajoel/jstips#tips-list).
Why do you think that isn'

[2016-01-02 21:47] loverajoel commented on #13
Hey @eggcaker, yes, this is a good idea, I know that when the list of tips will grow up will be difficult to read.
I like the idea of all tips in the same file, because it's easy to read, but yes maybe the `readme` can be a index and each tip in separate files.

I think that the files should be named `#N - title` -> `01 - AngularJs: $digest vs $apply`

[2016-01-02 21:55] eggcaker commented on #13
kind of， like a blog entry `#date #N #tags title` more for seach and read in the future.

[2016-01-03 09:01] primozs commented on #13
Maybe post on a static site with rss.

[2016-01-03 09:51] macx commented on #13
@primozs +1

[2016-01-03 15:18] loverajoel commented on #13
I'm thinking use [jekyll-now](https://github.com/barryclark/jekyll-now) when the amount of tips grow

[2016-01-04 11:29] eknowles commented on #13
Can I suggest using Wintersmith? https://github.com/jnordberg/wintersmith

If you've used jekyll it'll be very familiar. We can have a script that auto populates the author, contributors and have the build files on the gh-pages branch.

[2016-01-04 14:51] BenoitZugmeyer commented on #10
It may have a small impact, but the real issue is: the [two benchmark cases](http://jsperf.com/unshift-item-inside-an-array) are not doing the same thing. The `setup()` function initializing the array is called once at the beginning, then the cases are run thousands of times. The `unshift` case is mutating the initial array by prepending 0, causing the initial array to grow each time it is run. Co

[2016-01-04 15:06] mdibaiee commented on #10
@loverajoel Thank you! ✌️ I will add tips as soon as I find some time.

[2016-01-04 19:30] rschindlauer opened #15 "How can I follow just the tips?"
I am watching the repo, which means I get all issues, comments, and PRs. I'd like to just follow the tips themselves, is there any way (without Twitter)?

[2016-01-04 19:38] Shahor commented on #15
:+1:

[2016-01-04 21:06] bbultman commented on #15
Seconded!

[2016-01-05 16:14] loverajoel commented on #13
@eknowles sure I will try it, thanks

[2016-01-05 16:16] loverajoel commented on #15
@rschindlauer not by the moment, in this issue https://github.com/loverajoel/jstips/issues/13 we are talking about to migrate this repo to jekyll blog and by this way you can follow the rss feed

[2016-01-05 16:20] cgmartin commented on #13
Since on the topic of static generators, a good leaderboard of the top open-source projects to choose from (can filter by JS) https://www.staticgen.com/

[2016-01-06 10:13] mallowigi commented on #13
+1

[2016-01-06 14:53] jnovack opened #17 "ISO 8601 Date Standardization"
I propose use of the ISO 8601 Date format (*e.g. 2016-01-03 for January 3rd, 2016*)

https://en.wikipedia.org/wiki/ISO_8601

**Relevant XKCD**
![Relevant XKCD](https://imgs.xkcd.com/comics/iso_8601.png)

**Exhibit A**, https://github.com/loverajoel/jstips/blob/cc8584a7f5812ac7d34f483c9269f846dad35169/README.md
[code]
**Exhibit B**, https://github.com/loverajoel/jstips/blob/cc8584a7f5812ac7d34f483c

[2016-01-06 15:54] tevko opened #18 "Should framework tips be included?"
Hey, thanks for making this awesome project! I'm wondering if framework specific tips should be included? Including these might make more difficult for beginners to understand, not to mention harder to maintain, since frameworks update, get rewritten, and become anti-patterns rather quickly.

Alternatively, allowing only vanilla javascript content will better serve beginners looking to understand

[2016-01-06 16:45] aglipanci commented on #18
:+1: totally agree with @tevko

[2016-01-06 17:07] loverajoel commented on #17
I agree with you! Do you wanna make a PR for solve this? thanks for your suggestion!

[2016-01-06 17:26] loverajoel commented on #18
Hey @tevko thanks for your suggestion!

I'm not sure about what you proposed, these are my thoughts:
- Today frameworks are an important part of JS and it's a way to learn the language and best practices.
- JS Tips is not focused on beginners only.
- Share knowledges about famous frameworks will let that beginners know the frameworks/libraries and avoid common mistakes.
- It's hard write 365 tips

[2016-01-06 18:08] davecan commented on #18
Hi @loverajoel, thanks for taking the time to start a project like this. These are my opinions but maybe this will contribute to the discussion a bit.

There is merit to both approaches. However, I'll add that it is jarring to come to a project named "Javascript Tips" and see the first tip is about manipulating plain JS arrays followed by a tip about a deep (to me) aspect of Angular, a framework w

[2016-01-06 18:09] tevko commented on #18
@davecan said it better than I could :+1:

[2016-01-06 18:22] vishaltelangre commented on #18
:+1:

[2016-01-06 20:49] greemwahr commented on #18
+1

[2016-01-06 22:15] phil-r commented on #18
:+1:

[2016-01-06 23:14] mvedie commented on #17
This issue can be closed ;)

[2016-01-07 01:00] #17 closed

[2016-01-07 01:00] loverajoel commented on #12
close by inactivity

[2016-01-07 01:00] #12 closed

[2016-01-07 03:25] rocketinventor commented on #18
I like the purely Javascript tips because they are useful to all frameworks and all levels.
However, occasional (1 - 2 / week) framework tips are okay if they contribute to better JS mastery.
I like the idea of making the framework tips "bonus", and I also like the daily reading style.
Good work so far!

[2016-01-07 03:36] rocketinventor commented on #15
@loverajoel By "migrate" do you mean adding a branch?

[2016-01-07 04:08] volcodc opened #27 "Tip #06 incorrect code for what it suggests"
Tip #06 suggests that it's code returns the first letter capital rather than the whole word.

*printUpperCase("cactus");
// => Cactus*

Ideally, if the end result wanted to look like that, the code should reflect something like this:

[code]

Just wanted to assist! Thanks!
-Chris

[2016-01-07 08:53] bookercodes commented on #18
I found all the tips _except_ for the Angular and React ones interesting. That's not to say that they're not, it's just that I, too, would prefer to only see vanilla JavaScript tips.

I full well appreciate that writing about vanilla JavaScript only is limiting, but given the immediate success of this repository, I think it's likely that people will submit ideas and, if you're open to it, full-blo

[2016-01-07 09:27] s850042002 commented on #9
Thanks :+1:  This issue can be closed

[2016-01-07 09:27] #9 closed

[2016-01-07 09:28] s850042002 commented on #9
Thanks :+1:

[2016-01-07 13:53] loverajoel commented on #27
@mattfxyz ping here!

[2016-01-07 15:32] mattfaluotico commented on #27
You're right Chris. This was the print every word in all uppercase.m. I incorrectly wrote the sample output.

[2016-01-07 17:18] loverajoel commented on #18
ok you convince me, I like the idea about only vanilla JS and how a bonus extra tips(frameworks, devtools, ...)
What about this kind of tips https://github.com/loverajoel/jstips/pull/33? it's node

I will rewrite the rules, thanks all for your suggestions, so helpful!

I'll wait for your proposals tips :smiley_cat:

[2016-01-07 18:35] grav commented on #27
Consider `map`'ing a function over an array instead of changing each function to contain a `for`-loop

[code]

It is an ES5 feature: http://caniuse.com/#search=map

[2016-01-08 00:21] mvedie commented on #10
I don't know precisly how jsperf works, but i think it's better if the test method is the following : http://jsperf.com/unshift-item-inside-an-array/11
Each function use a reserved array and the first function doesn't affect the array for the second function.

Tell me if my comment is stupid because i don't know if jsperf run setup in both case ?

[2016-01-08 02:12] boneskull opened #42 "Single item / array tip doesn't account for undefined values"
Maybe better to

`value = [].concat(value || [])`

[2016-01-08 02:13] boneskull commented on #42
Otherwise you get `[undefined]`

[2016-01-08 03:26] rocketinventor commented on #18
I think a few node tips here and there are okay. Code for node _is_ javascript.

[2016-01-08 07:13] Amberlamps commented on #42
Also, usually you do not execute functions to log values to the console, but rather to process data and return values. If I pass a string to a function, I expect a string as return value, or at least not an array. It usually messes up the workflow in which the function is executed. I liked to add something like:

[code]

[2016-01-08 07:41] BlaM commented on #42
@Amberlamps: About the return value: I prefer to get the same type of return value each time I call a function - not a string once and an array the next time. Seems to be personal preference, but I'd say most functions always have a constant return type.

[2016-01-08 09:38] Amberlamps commented on #42
@BlaM: I agree. But when I use a third party library that converts strings to upper case, I find it weird to get an array when passing a string.

[code]

[2016-01-08 09:56] BlaM commented on #42
@Amberlamps: Usually you wouldn't rely on a third party lib to uppercase strings - you would use String.toUpperCase() :yum:. But in the end it all comes down to the definition of the function. There is no right or wrong here - and returning uppercase is just an example.

[2016-01-08 10:56] hemanth commented on #13
You could use `doxie`, like what [git-tips](https://github.com/git-tips/tips) does.

[2016-01-08 12:19] hnordt opened #51 "#07 - Strict Mode"
Worth noting that Strict Mode is always on on ES6/ES2015 modules.

We don't need to add "use strict" for ES6/2015 modules.

[2016-01-08 17:15] Roland1975 commented on #27
I'd rather avoid passing an array of items. Let the function proceed the arguments as an array using the native 'slice':

[code]

[code]

An array is an object; if you keep it local inside the function, the browser will garbage it as soon as the function exits.

[2016-01-08 17:21] Roland1975 opened #53 "Tip #8"
For the sake of clarity, I'd recommend to the verbose semantic:
[code]

[2016-01-08 17:31] tevko commented on #53
@Roland1975 I'm not sure what advantage `Array.prototype.slice.call(nodelist)` has over `Array.apply(null, nodelist)`

In fact, I'd argue that the apply method is cleaner, faster, and easier to understand than the slice method.

Also, the slice method is more of a hack / trick, whereas apply is literally built to accept an Array-like value

[2016-01-08 18:29] kurtextrem commented on #27
That only works with use strict, else we leak arguments.

Roland notifications@github.com schrieb am Fr., 8. Jan. 2016 18:15:

[2016-01-08 20:10] oagarcia opened #54 "#05 - Differences between undefined and null"
"undefined means a variable has not been declared"

A variable that has not been declared doesn't exists, so this statement is contradictory.
Hence, if you reference a variable that is not declared, it's value is not undefined as a reference error is thrown instead. (If you talk about referencing a non existing property of an object, that shouldn't be called a variable).

[2016-01-08 22:41] duzun commented on #53
`Array.apply` and `[].slice` are not equivalent and here are two most important differences:
1. `Array.apply` would make all cells own properties.
   As a proof, run this:
   `(new Array(100)).map(function(i){console.log(i)})` - no output
   `Array.apply(null, new Array(100)).map(function(i){console.log(i)})` - outputs "undefined" 100 times
2. `[].slice` is much faster, and the bigger array, the s

[2016-01-08 22:57] 0xF013 opened #55 "Future goodness tips"
I was thinking that it would be cool to add a section about the upcoming/transpiled stuff that can be used with the new es6/7 drafts. For example http://blog.jeremyfairbank.com/javascript/javascript-es7-function-bind-syntax/ has some stuff that would be nice for the very first tip

[code]

[2016-01-08 23:09] duzun commented on #55
+1

[2016-01-09 00:48] Havvy commented on #53
Furthermore, if you had an array-like of a single element that is a number, Array.apply will give you an array with .length of that number. You don't have to worry about that with NodeList fortunately.

Also, if you are targeting ES6, then Array.of() is exactly what you're looking for.

[2016-01-09 16:33] gmarketer commented on #53
If you targeting ES6, there are more methods available:
- `for...of` can iterate over `NodeList`:

[code]
-  if you want forced conversion to array, you can use more beautiful `spread operator`:

[code]

[2016-01-09 19:44] duzun commented on #53
For ES5 `concat` is the best choice:

[code]

It is faster then `[].slice`, but has equivalent effect.

[2016-01-09 20:37] davidbgk commented on #53
@duzun my results for tests on your previous proof link are quite similar between `slice` and `concat`. How do you compare the two more accurately?

[2016-01-09 20:49] duzun commented on #53
@davidbgk I just run the test several times and write down the execution times, then make an average.
I know this is not the best method to benchmark, but gives a quick idea of what works better.

I think a jsPerf would be more accurate.

[2016-01-10 12:18] denar90 opened #59 "Create tips categories"
Hi. This project is going to be really big. So, I've been thinking about categories. What if tips will be divided by categories like:
Plain JS
ES2015
Angular JS
React JS
etc..

It will be easier to find tips for your needs.
@loverajoel What do you think?

[2016-01-10 12:23] kurtextrem commented on #59
https://github.com/loverajoel/jstips/issues/18 regarding framework tips

I guess another solution would be creating own repositories for these frameworks (and linking to them from here).
Here and then some tips in the main repo (e.g. if no other tip has been found)

[2016-01-10 12:23] kurtextrem commented on #15
Most tips come in via pull request, so simply "Watch" and turn on e-mail notifications :D

[2016-01-10 12:40] denar90 commented on #59
Will it be some organization like jstips and repos in there?

[2016-01-10 18:19] loverajoel commented on #59
@denar90 in this issue https://github.com/loverajoel/jstips/issues/18 we talked about it.
We decide that the daily js tips will be only vanilla js and tips about frameworks, toolis and more will be like a bonus.
Now we are working in a beautiful template for [jekyll-now](https://github.com/barryclark/jekyll-now) and will be more easy to read and follow tips.

[2016-01-10 19:18] mhulse commented on #15
Not sure if this would be of any help, but I created a repo that uses Jekyll and GitHub to generate just an XML feed:

https://github.com/mhulse/bookmark-utils

The feed is updated via the yaml file in the _data folder.

My plan was to keep the feed updated via [Prose](http://prose.io).

[2016-01-11 01:20] Petah commented on #10
Also that test is kinda wrong as it is dependant of the size of the array. If you have a large array then `push` is faster: http://jsperf.com/push-item-inside-an-array/7

[2016-01-11 02:23] infacq opened #61 "need TOC at the top of README"

[2016-01-11 03:59] ihorskyi opened #62 "Tip #10 delusion"
In example you have this object
[code]
and this check
[code]
and then these words saying that that kind of check is ok.

Actually it is not ok, consider this example:
[code]
Which clearly shows that ```typeof myObject['name'] === 'undefined'``` is not checking existence of property, but checks type of that property value

[2016-01-11 06:09] denar90 commented on #59
Cool. Got it. Do you need some help?

[2016-01-11 06:15] rocketinventor commented on #62
@igor-galchevsky In practice, a variable (or property) that exists should not be set to undefined so what difference does it make?
![undefined_js](https://cloud.githubusercontent.com/assets/6473114/12227852/4081b1aa-b801-11e5-955d-a831985f0408.png)
If it is set as undefined, it was probably suppose to not exist anyways, right?

[2016-01-11 06:38] ihorskyi commented on #62
@rocketinventor, in practice I saw lot of people with more than 3 years JS experience setting undefined to property meaning it is empty. And also tons of other mistakes that should not be done.

So if you want to say it is a right way to assign **null** to param when you want to say it is empty - that's correct, if you want to say it is a good practice - also correct, but saying:
1. You shall **ne

[2016-01-11 07:09] PWAckerman opened #65 "Tip #8"
Array.from()

[2016-01-11 12:31] petetnt opened #66 "Tip #03 - Improve Nested Conditionals example should have vastly different functions to call"
The question of the tip is formatted as follows:

[code]

With the given information (the if-clause and the function names), the most obvious choice would be *just to refactor the functions itself*

[code]

which is a good tip in itself, but maybe not in the same vain the original #03 is. Obviously this isn't always possible (or feasible) with all of the cases, so the example could be / should be

[2016-01-11 23:29] bojidar80 commented on #51
[unins000.dat.txt](https://github.com/loverajoel/jstips/files/86533/unins000.dat.txt)

[unins000.dat.txt](https://github.com/loverajoel/jstips/files/86535/unins000.dat.txt)

[2016-01-12 03:23] huei90 commented on #61
:+1:

[2016-01-12 03:24] jknaresh opened #68 "Best way to write class in javascirpt?"
var debug = function(){console.log(arguments);};
[code]
Please update if you feel any other format?
Make sure, If you prefer using prototype Why?

thnx.

[2016-01-12 03:47] hingsir commented on #68
@jknaresh it's hard to read :)  you can format your snippet with markdown.

[2016-01-12 05:37] Awakens opened #69 "Optimal way to do display loading info during AJax request?"
I know of several different ways to show loading images during Ajax calls, but would like to know the method most preferred for maintainability and performance.

[2016-01-12 06:56] pklinger commented on #13
I also want to throw in, that using resources like images could be nice for some tips. Therefore, a nested folder structure could be useful for the future. At the moment, the project structure would be messed up pretty quickly if somebody wants to use image assets. Also, the loading speed of the single-page readme approach does not scale too well ...

[2016-01-12 07:38] mynamesleon commented on #62
@igor-galchevsky: you have a valid point, but the problem you've raised also applies to the other mentioned methods.
E.g.

[code]

If you look at the ECMAScript source code, the hasOwnProperty method is ultimately checking for undefined.

I will add to this point though, that it is often agreed that native JavaScript methods are slower than doing the check yourself. There's quite a lot of extra ha

[2016-01-12 15:02] mnort9 opened #70 "Mailing list"
In addition to Twitter, it would be nice to receive a tip in a daily email.

[2016-01-12 15:26] michaelzoidl commented on #70
+1

[2016-01-12 15:30] rocketinventor commented on #62
Why don't we write up a tip for this, then?
Obviously, this is something people need to know.
Also, @igor-galchevsky When is this a problem?

[2016-01-12 15:35] drakmail commented on #70
:+1:

[2016-01-12 15:44] rocketinventor commented on #70
@mnort9 What is the twitter handle?

[2016-01-12 16:49] mnort9 commented on #70
@tips_js

[2016-01-12 16:50] mnort9 commented on #70
Might be able to use something simple like IFTTT:
https://ifttt.com/recipes/234075-new-tweet-by-specific-user-send-me-an-email

[2016-01-12 17:52] ihorskyi commented on #62
@rocketinventor, what do you mean "when" ? :)

[2016-01-12 22:38] dfkaye commented on #62
my two cents => https://gist.github.com/dfkaye/c4da8da17b03f5fad4ff

[2016-01-13 01:36] loverajoel commented on #62
I think that the discussion here is if people define empty vars as `null` or `undefined`.
The mistake is set `undefined` an empty `var`, if you don't do it, the expression will work.
Maybe we can fix the tip and add a message indicating that common mistake or you can send another tip talking about how to set empty vars :hand:
What do you think?

Thanks for this rich discussion :smile:

[2016-01-13 02:23] FagnerMartinsBrack commented on #62
It is definitely not ok to use `typeof myObject['name'] !== 'undefined'` to check if a property is present in an object.

Regarding setting empty references:
- `typeof` is broken.
- JavaScript uses `null` for functions that should return a single element contract but returns nothing instead (`document.getElementById('')`).
- JavaScript uses `undefined` for values or properties that are not defined

[2016-01-13 02:33] loverajoel commented on #62
@FagnerMartinsBrack I'm not agree with your last point and why do you says that `typeof` is broken for empty references?

I will make a pr and remove this check and add a link to this discussion.

[2016-01-13 04:38] rocketinventor commented on #70
I think a mailer should have the full tip text _plus_ a link to github, not just a link to github and a title.

[2016-01-13 05:01] dfkaye commented on #62
If I understand the complaint, it's that `typeof o['name'] !== 'undefined'` is not a proper _existence_ check, but a _value_ check disguised as a _type_ check.  If you define something as `null`, its type will be `'object'`

[code]

[2016-01-13 05:32] loverajoel commented on #62
fixed https://github.com/loverajoel/jstips/commit/d8859672e97458f2f566b096caba22a26fdccbfc

[2016-01-13 05:33] ihorskyi commented on #62
@dfkaye that's right. My point is that it is just unsafe to check property existence using `typeof myObject['name'] !== 'undefined'`.

[2016-01-13 05:38] dfkaye commented on #62
@loverajoel @igor-galchevsky
Ah I see now ~ the tip text is really about checking _whether an object property is non-null/undefined_
That check should be

[code]

[2016-01-13 07:12] Havvy commented on #68
This is ultimately bikeshedding.

If you have ES6 and like the `class` keyword, use that.

I prefer calling Object.create() in the "constructor" function instead of dealing with `new` and `this`. They don't buy me anything but they do confuse newbies (and people who don't want to figure out how `this` works), but Object.create() is mostly obvious.

[2016-01-13 12:44] gangsthub commented on #70
+1

[2016-01-13 12:46] qaraluch commented on #70
+1

[2016-01-13 13:06] barryceelen commented on #70
+1

[2016-01-13 13:56] FoxxMD commented on #70
+1

[2016-01-13 15:08] drakmail commented on #70
I'm created a Mailchimp campaign for anyone who want to receive latest js tip every day.

You can sign up here: http://js2016.tips

[2016-01-13 15:15] loverajoel commented on #70
@drakmail Wowww that's awesome and the domain too

[2016-01-13 15:26] rocketinventor commented on #70
Nice, that is exactly what I was hoping for!

[2016-01-13 16:35] jknaresh commented on #68
@Havvy Can you give an reference URL?

[2016-01-13 17:59] habfast commented on #70
Also it would be incredible if there was an RSS feed :)

[2016-01-13 18:01] loverajoel commented on #70
@habfast I'm working on this :+1:

[2016-01-13 18:28] drakmail commented on #70
Thank you all for feedback, send first Daily JS Tip to 16 subscribers :)

[2016-01-13 18:30] drakmail commented on #70
@habfast Mailchimp automatically creates RSS feed: http://us12.campaign-archive1.com/feed?u=91c81a54b7387a056b046a2ca&id=9551be788c , you could use it :)

[2016-01-13 18:31] yuvarajvemula commented on #68
Es6 classes. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[code]

[2016-01-13 21:06] FagnerMartinsBrack commented on #62
@loverajoel

The previous bullet point make it clear that if you care for bytes you can use `undefined` for not defined values semantic, but if you don't care then you don't need to and you can use `null`. Again, it depends upon the context of what you are doing.

It depends on what you consider "empty references".

"If something works sometimes, and sometimes it does not, and there is a better op

[2016-01-13 21:10] FagnerMartinsBrack commented on #62
@loverajoel

If `myObject` has a property with value `0` it will return falsey and not enter the condition, therefore it is also not ok to check if a property is present with the `if (myObject['name'])` code.

[2016-01-13 21:14] alexanderisora commented on #69
Personaly I would with pleasure <3

[2016-01-13 22:00] habfast commented on #70
Oh that's great, thanks! However the layout is quite broken in the feedbin webapp (but fine in reeder).

[2016-01-13 23:10] #70 closed

[2016-01-14 14:47] z-vr commented on #62
Is it not easier to just do
`if(test.key){
  console.log(test.key);
}`

[2016-01-14 16:58] gmarketer opened #79 "Tip #14"
http://blog.getify.com/arrow-this/

[2016-01-14 17:43] loverajoel commented on #79
@pklinger ping

[2016-01-14 22:15] pklinger commented on #79
@gmarketer Thank you for the interesting hint. Could you please give concrete improvement tips? Or add another example that clarifies the issue better?

[2016-01-15 06:26] qaraluch commented on #79
Very good tip, That's just tip, not PhD paper, after all. Some nuances always will be, I guess. Add link to a further reading.

[2016-01-15 06:27] hueitan commented on #13
jstips(current/free way) can give more details on the section.
doxie is given only predefined structure.

[2016-01-15 06:53] drakmail commented on #13
:+1: for one tip per file

[2016-01-15 07:01] drakmail commented on #15
You could get tips [by email](http://js2016.tips)

[2016-01-15 16:00] pmuens commented on #13
:+1: Really like the RSS idea. So that one can subscribe to the feed and get a new tip delivered every day!

[2016-01-15 17:09] drakmail commented on #13
@pmuens also, you can subscribe to [email subscription](http://js2016.tips) or [use auto generated RSS feed](http://us12.campaign-archive2.com/feed?u=91c81a54b7387a056b046a2ca&id=9551be788c) (can be rendered with issues in some RSS clients)

[2016-01-16 09:24] indianakernick commented on #62
Why don't you use hasOwnProperty like @FagnerMartinsBrack said! It's simplest and most obvious solution. Using typeof to check existence is silly

[2016-01-17 18:06] CraftThatBlock opened #92 "Missing #16?"

[2016-01-17 18:07] drakmail commented on #92
See https://github.com/loverajoel/jstips/pull/87 :)

[2016-01-18 02:41] joshbivens opened #95 "Table of contents"
I tried (and failed) to set up an index/toc. I couldn't get the link from my toc to link to the id of the tip. This would be a good feature.

[2016-01-18 03:11] kalasoo opened #96 "Can we translate this everyday tip to Chinese?"
There are many JS developers in China, and I, a tech discussion/sharing community host, want to help translate this great series of tips to a Chinese version.

Do we have any official guidelines for this?

[2016-01-18 03:12] hueitan commented on #96
https://github.com/loverajoel/jstips/pull/78

[2016-01-18 03:13] kalasoo commented on #96
@huei90 Thx

[2016-01-18 03:17] kalasoo commented on #96
@huei90 it seems he hasn't started the work. We'll work on it asap

[2016-01-18 08:13] aaron-goshine commented on #18
@loverajoel You are doing a great job with jstips, but you should encourage separations of concern anytime there is a need for it, jstips for pure Js pursuers and framework/library tips for frameworkers/librarians; if not then this repo will blow up into a puff of mushroom cloud. In the mean time talking about 365 days of the the year... Is there any one who would like to recommend music tracks or

[2016-01-18 08:39] indianakernick commented on #68
Use ES6 syntax. It's the standard. The old syntax is kind of confusing to new comers anyway.

[2016-01-18 09:11] yuvarajvemula commented on #68
Please add es6 classes to first option.. Because they are new ,easy to use and clear

[2016-01-18 09:15] yuvarajvemula commented on #68
Above models seems varients of same thing .. Not fair to use.  Confusing thing to newbies

[2016-01-18 09:28] fundon commented on #96
@kalasoo I have started with this. See https://github.com/fundon/jstips/blob/zh_CN/README-zh_CN.md.

You can join this repo https://github.com/fundon/jstips. :)

[2016-01-18 09:30] indianakernick commented on #68
@shivarajnaidu 👍

[2016-01-18 10:29] tylerdmace commented on #13
+1 The sooner this gets implemented, the better!

[2016-01-18 10:56] kalasoo commented on #96
@fundon Awesome, I will register a domain name to host a simple static website for this daily tip in two languages.

[2016-01-18 12:28] baptistebriel commented on #68
Like @shivarajnaidu, this is what I use (ES6):

[code]

[code]

And later on...

[code]

https://github.com/lukehoban/es6features#classes

[2016-01-18 12:38] fundon commented on #96
@kalasoo Cool! I added you to collaborators.

[2016-01-18 13:04] AdriVanHoudt commented on #13
I liked how I could read through them, for the repo 1/file makes sense but then a website or something where they get bundled would be needed

[2016-01-18 13:06] drakmail commented on #13
It not so hard just use something like Jekyll to convert it to nice blog format :)

Btw I'm planning to setup jekyll on js2016.tips website

[2016-01-18 14:17] pertrai1 opened #101 "Organization of the Repo Tip Structure"
I have issued a PR #100 that will help to start the formation of a repo that can continue to increase as the tips come in overt the year. My proposal has it where there is a 2016 directory with a README that has a link to each month for the year, and then a directory for each month inside of that directory that has a README for the tips of that month. This will help to keep the README to a minimum

[2016-01-18 18:20] jczimm opened #104 "reponse to #18"
made a quick [jsperf](http://jsperf.com/flooring-numbers-comparison)...

In this test, it looks like Math.floor is faster.

[2016-01-18 18:23] loverajoel commented on #104
@pklinger ping

[2016-01-18 18:27] drakmail commented on #104
Interesting – in safari 9 performance of `Math.floor()` is really ugly, but in Chrome it is fasted method :)

[2016-01-18 18:29] drakmail commented on #104
Added firefox tests – performance of all this methods is same in it

[2016-01-18 18:30] drakmail commented on #101
Seems very good! I think there a slightly better approach – keep one file per tip in month directory

[2016-01-18 18:36] pertrai1 commented on #101
@drakmail So you are thinking of having something that would be like so:

[code]

[2016-01-18 18:39] drakmail commented on #101
@pertrai1 as mentioned in #13 it will be nice to have title in filename – it could be easily converted to readable URL format in static site generators like Jekyll

[2016-01-18 18:40] pertrai1 commented on #101
@drakmail yes I like that method much more.

[2016-01-18 18:43] loverajoel commented on #101
Hey guys, we are talking about it in this issue #13.
Now I'm working in a jelly blog and the file organization will be like this
![image](https://cloud.githubusercontent.com/assets/1700100/12399663/270b5c36-bdfa-11e5-8251-cbbd057b2d54.png)
https://github.com/barryclark/jekyll-now/tree/master/_posts

[2016-01-18 18:46] drakmail commented on #101
@loverajoel keeping eye on #13, but @pertrai1 suggested nice idea – doesn't keep all posts in just flat `_posts` directory, but keep it in structured sub-directories by months and years. Maybe, then move it in #13 and close this issue as duplicate?

[2016-01-18 18:49] loverajoel commented on #101
@drakmail yes, it's a good idea but I'm not sure if jelly allow me this organisation, I have to check it

[2016-01-18 19:01] drakmail commented on #101
If you are talking about [jekyll](https://jekyllrb.com) then yes, it allow usage of nested directory structure

[2016-01-18 19:10] loverajoel commented on #101
@drakmail yes, sorry! Awesome it's a deal!

[2016-01-18 19:31] pertrai1 commented on #61
This can be solved if there is a directory structure of sorts put on place for the tips being discussed #101

[2016-01-18 19:34] pertrai1 commented on #95
@joshbivens I agree and have suggested a structure for how the tips are help inside of the repo to then be used with the likes of Jekyll. #101

[2016-01-18 20:11] pklinger commented on #104
huh interesting. have a look at #85 and the [link with past performances](https://github.com/loverajoel/jstips/pull/85#issuecomment-172122884). I only tested it with Chrome

[2016-01-18 20:51] #92 closed

[2016-01-18 20:51] rwoll commented on #101
I've made PR #108 which includes a `_posts` directory whose files are ready to be used with a static site generator like jekyll. There is also a template file in `_drafts` of the PR that shows the file I used to generate the posts.

[2016-01-18 20:51] #61 closed

[2016-01-18 20:54] loverajoel commented on #101
@rwoll awesome!!! I think that this week I can end the theme and create the blog, thanks

[2016-01-18 21:05] drakmail commented on #101
@loverajoel when you done you could use js2016.tips domain if you will use gh-pages branch, just let me know

[2016-01-18 21:08] loverajoel commented on #54
@bhaskarmelkani ping

[2016-01-19 00:27] gihrig opened #109 "#12 - Pseudomentatory parameters in ES6 functions #ES6"
Is  Pseudomentatory even a word? What does this mean?

I think the author meant pseudo-mandatory parameters?

[2016-01-19 00:32] module17 commented on #109
@gihrig It stems from the word `mentation`, meaning `mental activity; the result of`.

[2016-01-19 01:19] pertrai1 commented on #101
@loverajoel @drakmail @rwoll This is great. Let me know if there is any help needed with getting Jekyll up and running with gh-pages.

[2016-01-19 02:29] kalasoo commented on #96
@fundon let's do it. Do you have a wechat account? u can add me: **kalasoo**

[2016-01-19 02:32] loverajoel commented on #96
@kalasoo I'm working in a jekyllrb blog and I think that it will be done for this week

[2016-01-19 02:36] gihrig commented on #109
That doesn't fit the usage in the tip, making function parameters required, does it?

[2016-01-19 02:36] kalasoo commented on #96
@loverajoel cool, we'll keep it simple and tidy to different language versions.

[2016-01-19 02:50] loverajoel commented on #96
@kalasoo @fundon  I have in mind host all languages in the same site, just looking how to make jekyllrb multi-language.
Maybe I can add how collaborator one person by idiom in order to help me administer the project

[2016-01-19 02:53] kalasoo commented on #96
@loverajoel There's no problem hosting it in the same site. As I have registered jstips.cn already, we can host it separately but mutually linked.

[2016-01-19 02:54] kalasoo commented on #96
@loverajoel Of course, the content should synced with the main site.

[2016-01-19 02:57] loverajoel commented on #96
@kalasoo Do you have in mind how to organice the repo in two languages or more?
These are options:
https://github.com/octopress/multilingual
https://github.com/drallgood/jekyll-multilingual

[2016-01-19 02:59] loverajoel commented on #96
This one is good https://www.sylvaindurand.org/making-jekyll-multilingual/

[2016-01-19 03:11] kalasoo commented on #96
@loverajoel I haven't used Jekyll before (#GhostLover), so I may need to learn it as well.

[2016-01-19 06:30] FagnerMartinsBrack commented on #96
Now that you mentioned it, I am willing to translate these tips to portuguese from Brazil in case nobody have done it yet. Just document the patterns on how to do it :)

[2016-01-19 07:52] LiYongSheldon commented on #96
@kalasoo It shouldn't be an issue as long as someone is willing to do it. However I assume the English is relatively simple here.

[2016-01-19 13:23] loverajoel commented on #96
@FagnerMartinsBrack good idea, at the end of the week I will have the theme and basic structure that support multi-language done, I will back here with more info

[2016-01-19 13:32] kalasoo commented on #96
@LiYongSheldon agree. Basically, it's more important to publish the content with a website & newsletter to help people approach it easily. Also, keep the credit to the contributors.

[2016-01-19 14:23] FagnerMartinsBrack commented on #96
@loverajoel Looking forward to it :)

[2016-01-19 15:38] malexandre opened #114 "#18 Title says rounding, but the code truncate."
For example, this line:

[code]

Rounding 1.999 should give 2, not 1. 1 is either flooring or truncating. And as the example shows that negative values are like `Math.ceil`, it means `~~` is only truncating.

Also, on another note, truncating could be done using `parseInt`, which is the cleaner way I think.

[2016-01-19 15:56] loverajoel commented on #114
@gogainda ping

[2016-01-19 15:56] loverajoel commented on #114
@pklinger ping

[2016-01-19 15:57] rjgotten commented on #104
@jczimm
@pklinger

FYI: That test is no good.

Engines may memoize the results of a function when static code analysis shows that it is side-effect free and has deterministic output and when the same input is repeatedly fed into the function. That is exactly the case here: the test uses a single constant, picked before the clocked test loops, and the function under test produces deterministic resu

[2016-01-19 16:37] rjgotten commented on #114
No it's not. You run afoul of number vs. string representations, radix handling, etc.

The cleanest way to truncate a number is to [use the standard Math.trunc function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/trunc), or polyfill it with the suggested implementation from Mozilla...

[2016-01-19 16:43] malexandre commented on #114
My bad, I forgot to check the Math functions, and just used my C habits (casting to int).

[2016-01-19 17:25] pklinger commented on #114
@malexandre Ok, "rounding" is definitively wrong in the mathematical sense. What it really does is truncating and mimicing as explained in the text:

In the end, I guess people want to see some unknown, (more or less) useful tricks here. Not being 100% accurate on the title to have a use case, but brining across a new trick was my main intention here.
If you feel really disturbed by the title, iss

[2016-01-19 18:09] jczimm commented on #104
[updated jsperf with @rjgotten 's suggestion](http://jsperf.com/flooring-numbers-comparison/2)

Alright, looks about the same for all three methods.

[2016-01-19 18:26] jczimm opened #117 "#19 - jsperf"
On `Chrome 48.0.2540.0 32-bit on Windows NT 10.0 64-bit`, [`concat` looks much faster than `join`](http://jsperf.com/string-concatenate-concat-vs-join/2).

[2016-01-19 19:16] pmuens commented on #13
@drakmail thanks for the links!

[2016-01-19 19:26] dincho commented on #117
:+1:

concat is 51% faster on Safari, 38% faster on Firefox

[2016-01-19 19:35] loverajoel commented on #117
@gogainda ping

[2016-01-19 20:09] joseluisq commented on #68
The best way to write "classes" in javascript is avoid `class` keyword and constructors, instead you should prefer factory functions for that.

[2016-01-19 20:12] gogainda commented on #117
Hi all! @jczimm in your example you were joining only numbers, but my tip is about strings as well, so I modified you example, so at least one variable is string. Check the results here http://jsperf.com/join-and-concat

[2016-01-19 20:58] jczimm commented on #117
:+1:

[2016-01-19 21:40] indianakernick commented on #68
@joseluisq the class keyword is syntactical sugar over the existing prototype system. So when you use the clear and easy to understand class syntax you are still using the same prototype stuff. There is absolutely no advantage to using prototype syntax

[2016-01-19 21:43] indianakernick commented on #68
Tell em @shivarajnaidu and @baptistebriel

[2016-01-19 21:49] joseluisq commented on #68
@Kerndog73 yep, sorry it was corrected now. Also It should prefer Composition instead "Inheritance".

[2016-01-19 22:10] dincho commented on #117
Now concat is 53% faster in Safari and 46% faster in Firefox

[2016-01-20 06:25] yuvarajvemula commented on #68
Thanks for your support @Kerndog73  and @baptistebriel , we can make use of `Default parameters` feature to avoid  `this.options = opt || {};` in above code @baptistebriel
**we can initialize function parameters using `default parameters` feature in es6**

[code]

_**This is small enhancement**_ @baptistebriel
[**See Default parameters in Mozilla Developer Network**](https://developer.mozilla.org/

[2016-01-20 07:50] yuvarajvemula commented on #68
_**Below article gives a great explanation about classes and the reason to use them instead of using old es5 hacks**_
**see here**
<br/>
[_**`Object-Oriented JavaScript — A Deep Dive into ES6 Classes`**_](http://www.sitepoint.com/object-oriented-javascript-deep-dive-es6-classes/)
and
[_**`ES6 Classes in MDN`**_](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes)

[2016-01-20 07:54] caisah commented on #117
On [MDN concat page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/concat) there is a comment about performance

I think this should be mentioned. Not in terms of recommendation but performance.

[2016-01-20 08:07] frikinside commented on #96
I really love this repo and it would be awesome to world spread it in most of the common idioms!
Maybe I can give you a hand with Spanish translate?

[2016-01-20 08:19] drakmail commented on #96
I could help to translate it to Russian :)

[2016-01-20 08:39] baptistebriel commented on #68
Nice one, @shivarajnaidu :)
Thanks for the links!

[2016-01-20 09:41] AvraamMavridis opened #121 "Split tips into several .md files"
Since the README.md starts getting longer it would be nice to split the tips into several files, and has only a list of titles on the README.md with links to the tip's md file. It will make the reading easier and also people will have less conflicts since the will work in different files and not on the README.

[2016-01-20 09:43] drakmail commented on #121
Duplicates #13 :)

[2016-01-20 10:09] jknaresh opened #123 "Tips for Security."
Any Security Issue and Solution?

[2016-01-20 13:50] loverajoel commented on #96
@frikinside @drakmail +1

[2016-01-20 13:51] #121 closed

[2016-01-20 13:51] loverajoel commented on #121
closed by duplicate

[2016-01-20 13:52] loverajoel commented on #123
This would be great! +1

[2016-01-20 13:53] AvraamMavridis commented on #121
:+1:

[2016-01-20 15:25] mrosata commented on #13
I like the 1 tip idea. What about using https://readthedocs.org/ - I love how people write on Github, and I think it's smart because it allows comments and easy updating. With "read the docs" the files could still be hosted here but as the text grows it would also be organized, navigable and I don't know too much about "read the docs" but I know they use make to build the documentation so maybe th

[2016-01-20 17:05] joshbivens commented on #95
Yes! That would be cool. Much better than one _long_ document.

[2016-01-20 20:10] 3y3 opened #131 "Tip #17"
Most correct and semantic way:
[code]

[2016-01-21 17:52] dfkaye opened #136 "tip #21 shuffle-an-array ~ alternative implementation contains invalid `this`"
In tip https://github.com/loverajoel/jstips/blob/master/README.md#21---shuffle-an-array, the alternate shuffle function by @mvedie ( which I really like, btw) appears to assume that `shuffle` is defined on the `Array.prototype` as it contains a `slice()` method on `this`, rather than on an `array` parameter ~ but that throws an error:

    function shuffle() {
        return this.slice(0).sort(fun

[2016-01-21 17:54] loverajoel commented on #136
@0xmtn ping

[2016-01-21 18:08] 0xmtn commented on #136
Fixed - https://github.com/loverajoel/jstips/pull/137

[2016-01-21 18:10] #136 closed

[2016-01-21 19:41] jonathanKingston commented on #123
Happy to contribute a few:
- [ ] [Web crypto](https://developer.mozilla.org/en-US/docs/Web/API/Window/crypto)
- [ ] [Secure contexts](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts)
- [ ] [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy)
- [ ] [SRI](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity)

All of the

[2016-01-21 19:51] jonathanKingston commented on #10
@loverajoel - [Rounding the fast way](https://github.com/loverajoel/jstips#18---rounding-the-fast-way) is like microseconds in difference at best which is complete microperf and also creates two subtle differences in that it operates on a 32bit address space and also is `Math.ceil(-1.5)` for negative numbers. (**I would completely swap out this tip**)

[2016-01-21 20:19] alawatthe opened #140 "The naive shuffling algorithm does not work"
I am talking about the algorithm about the following algorithm by @mvedie:

[code]
Information why this algorithm does not work (and shouldn't be used) can be found for example in [this awesome blog post](http://bost.ocks.org/mike/algorithms/#shuffling) and by googling a bit.

I'm therefore proposing to remove the corresponding section from the tip.

[2016-01-21 21:42] mvedie commented on #140
Ok, my bad, thank you for this link which opened my eyes.

[2016-01-21 21:43] #140 closed

[2016-01-21 22:12] AlexanderZeilmann commented on #140
No worries @mvedie, I'm here to help :-D

[2016-01-21 22:21] loverajoel commented on #140
@alawatthe hahah :+1:

[2016-01-22 06:39] mvedie commented on #140
And i'm here to learn :)

[2016-01-22 07:35] jknaresh commented on #123
Is any way, can we secure AJAX request?

[2016-01-22 07:37] jknaresh opened #142 "Best way to minify JS with secure?"
I could not find proper minify compliers for JS minify? Can any one suggest?

[2016-01-22 09:06] infacq commented on #142
gulp or bower is not enough?

[2016-01-22 10:56] FlorianBELLAZOUZ opened #143 "tips #19 - add little trick"
Thank for the tips.

We can also use this trick to do a safe string concatenation :

[code]

it's less verbose and faster !

http://jsperf.com/string-concatenate-concat-vs-join/4

[2016-01-22 12:28] gogainda commented on #143
@FlorianBELLAZOUZ  nice trick

[2016-01-22 12:38] kurtextrem commented on #143
I'd say this one should probably replace the `.concat` function in #19.

[2016-01-22 13:04] yuvarajvemula commented on #143
Nice tip @FlorianBELLAZOUZ    :thumbsup:

**we can also make use of [`template strings`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings) to acomplish the same..**

[code]

_See_ [Template Strings at Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings)

[2016-01-22 15:24] rjgotten commented on #117
And straight-up `+` operators are 100+ times than both in Firefox.

No; **also** in terms of recommendation.

The whole problem with accidentally performing math operations is easily avoided when you actually _know_ how the language works and exploit the fact that the `+` operator is left-associative.

Just do one of the following:

[code]

You should **only** use `String.prototype.concat` or `Arr

[2016-01-22 16:00] hingsir opened #146 "builds static pages of these tips is allowed?"
[https://hingsir.github.io/jstips-site/dist/tips/](https://hingsir.github.io/jstips-site/dist/tips/)

[2016-01-22 17:06] loverajoel commented on #146
@hingsir I'm working in a jekyll-now theme and I think that this weekend will be ready

[2016-01-22 22:25] indianakernick commented on #117
@rjgotten 👍🏼

[2016-01-22 23:02] rjgotten commented on #142
Gulp is a task-runner and bower is a package manager. Neither is a minifier.

You want a decent minifier, you use something like UglifyJS.

[2016-01-22 23:50] hingsir commented on #146
@loverajoel looking forward to !

[2016-01-23 00:59] xovel commented on #142
[**UglifyJS2**](https://github.com/mishoo/UglifyJS2) is a good choice

[2016-01-23 02:41] indianakernick commented on #142
Yeah UglifyJS is what I use. 👍🏼

[2016-01-23 09:24] lockys commented on #146
I build a site called `awesome search` providing simple functionality to search in awesome list recently with a friend.
As `jstips` is listed in awesome list, so `jstips` is in `awesome search` automatically.
https://awesomelists.top/#/repos/loverajoel/jstips :)
Just let users overview the tips by the category dropdown.
I think it will be better to see the official static site of `jstips` by @love

[2016-01-23 10:06] hingsir commented on #146
@lockys +1

[2016-01-23 16:41] windows1087 opened #149 "Tip #23 is the slowest on firefox"
Firefox 43.0.4 on Mac

http://i.imgur.com/1W51hsJ.png

[2016-01-23 16:45] marklabenski commented on #149
![bildschirmfoto 2016-01-23 um 17 44 10](https://cloud.githubusercontent.com/assets/1036749/12531370/f7a5c6f4-c1f8-11e5-8c0b-e50996fa264d.jpg)

It's also one of the slowest in Safari Version 9.0.3 (11601.4.4) on Mac OS X El Capitan

_(edit) All 3 major browsers (Chrome, Safari, Firefox at latest versions) on my MacBook 13' retina late 2013 on Mac OS X El Capitan compared, the fastest ways are Bitw

[2016-01-23 21:50] mhulse commented on #15
Loving the newsletter. Thanks!

[2016-01-24 15:06] loverajoel commented on #13
Hi guys, I'm working in the theme for jekyll in this [branch](https://github.com/loverajoel/jstips/tree/gh-pages) and the beta is live in [tipsjs.co](http://www.jstips.co/).
After debug and review the site I have in mind change the branch `gh-page` how `master` of this repo.
Now there are one tip per file and a TOP in the readme.

Feedback are welcome!

[2016-01-24 16:03] loverajoel commented on #146
@hingsir @lockys hey I added those [here](https://github.com/loverajoel/jstips#lets-keep-in-touch) and you can see the blog live in jstips.co

Thanks

[2016-01-24 16:03] #146 closed

[2016-01-24 16:04] loverajoel commented on #101
Hey finally the repo change the format, now the `master` branch is `gh-page` and it's live in jstips.co.

Feedback and suggestion are welcome

[2016-01-24 16:04] loverajoel commented on #95
@joshbivens hey now we have this [here](https://github.com/loverajoel/jstips#tips-list)

Thanks

[2016-01-24 16:04] #95 closed

[2016-01-24 16:17] loverajoel commented on #15
Hey good news, now you can follow this [official rss](http://www.jstips.co/feed.xml)

[2016-01-24 18:03] rschindlauer commented on #15
Cool, thanks! Closing this as resolved.

[2016-01-24 18:03] #15 closed

[2016-01-24 21:37] LorenzoRogai commented on #96
I can help with the Italian translation. Let me know when you have a structure to do so :+1:

[2016-01-25 07:57] rishantagarwal commented on #15
You might soon see an IOS App for it .

[2016-01-25 08:03] mhulse commented on #15
Quick question, what site is official? jstips.co or js2016.tips?

[2016-01-25 08:07] drakmail commented on #15
jstips.co is based on gh-pages branch of this repo, js2016.tips – mostly is just a email subscription form maintained by me :)

[2016-01-25 08:10] mhulse commented on #15
Ah, cool! Thanks for setting up the email sub! It's a perfect read in my inbox every day. Formatted very well and quick to grok. :+1:

[2016-01-25 08:12] drakmail commented on #15
Thank you!

[2016-01-25 08:13] rjgotten commented on #149
The `parseInt` function shouldn't even be on that list. It doesn't perform proper value conversion to the number type; it parses strings - and only strings! - into numbers.

E.g.

[code]

On top of that, it parses _partially accepted_ strings, which is generally **not** what you want when you're performing type conversion.

E.g.

[code]

[2016-01-25 10:58] indianakernick commented on #149
@rjgotten 👍🏼

[2016-01-25 13:14] loverajoel commented on #96
@loonies in order to start, create a folder for you language (`en`,  `es`,  `cn`, `it`) and start to translate every tip, meanwhile I will adapt the theme

[2016-01-25 14:26] loonies commented on #96
@LorenzoRogai, @loverajoel is probably replying to you

[2016-01-25 18:30] LorenzoRogai commented on #96
@loverajoel @loonies I'm working on it

[2016-01-26 09:35] joargp opened #174 "Tip #00 Suggestion"
[code]

Why not use concat here as well?

[code]

[2016-01-26 12:36] lockys commented on #146
@loverajoel  that's fantastic! :100:

[2016-01-27 01:39] cococe opened #179 "why doesn't it update as usual today？"
~~偶尔从论坛上发现了这个项目，每天早晨上班之前看一看，今天怎么没有更新？~~
I found this project from the forum by accident and always look through it before  going to work every morning，but why doesn't it update as usual today？

[2016-01-27 02:10] hueitan commented on #179
You should <s>replied</s>reply in English.

[2016-01-27 04:32] cococe commented on #179
@huei90 ok。
 You should `reply` in English

[2016-01-27 04:33] hueitan commented on #179
thank you @cococe

[2016-01-27 07:59] lockys commented on #179
The title should be updated as well.
Maybe you should consider the place where the owner lives.
He is in Spain (UTC + 1) I think, I guess the time in Spain is about 1/27 9:00 a.m now
You filed this issue at 1/27 3:00 a.m in Spain. It's time for sleep. :grin:

[2016-01-27 08:06] cococe commented on #179
@lockys thank you.

[2016-01-27 09:39] zzz6519003 opened #182 "new tip suggestion console.trace() is handy"
:+1:

[2016-01-28 02:59] turitcha opened #185 "2016-01-27-short-circiut-evaluation-in-js / circiut??"
mistake?

[2016-01-28 07:44] qaraluch opened #186 "add link to jsbin with tip's code"
Would be nice to play with tip's code to grasp the topic better, wouldn't it?

[2016-01-28 21:22] #13 closed

[2016-01-28 21:23] #18 closed

[2016-01-28 21:24] loverajoel commented on #27
Hey can we close this?

[2016-01-28 21:24] loverajoel commented on #42
Hey can we close this?

[2016-01-28 21:24] loverajoel commented on #51
Hey can we close this?

[2016-01-28 21:25] loverajoel commented on #53
Hey can we close this?

[2016-01-28 21:25] #54 closed

[2016-01-28 21:25] #59 closed

[2016-01-28 21:26] hnordt commented on #51
Of course.

[2016-01-28 21:26] #51 closed

[2016-01-28 21:26] #65 closed

[2016-01-28 21:26] loverajoel commented on #66
@AlbertoFuente ping!

[2016-01-28 21:28] loverajoel commented on #68
Hey [this](https://medium.com/@dan_abramov/how-to-use-classes-and-sleep-at-night-9af8de78ccb4#.wqb6sannb) a good article about this

[2016-01-28 21:28] #79 closed

[2016-01-28 21:28] #101 closed

[2016-01-28 21:28] #104 closed

[2016-01-28 21:29] #109 closed

[2016-01-28 21:29] #114 closed

[2016-01-28 21:29] #117 closed

[2016-01-28 21:29] #131 closed

[2016-01-28 21:30] #143 closed

[2016-01-28 21:30] #149 closed

[2016-01-28 21:31] #174 closed

[2016-01-28 21:31] #179 closed

[2016-01-29 00:01] boneskull commented on #42
My original comment was not addressed.  You guys went off on a tangent.  :smile:

[2016-01-29 15:20] marklabenski commented on #149
Thank you @rjgotten
But the point was, that it strongly depends on the browser/system wether the suggested method is the fastest. So it shouldn't be called "the fastest way" in general (Even if I wish it was)

[2016-01-29 16:16] yuvarajvemula commented on #66
Can we make use of functions ,for loop and if combination.. For if we provided with too much number of choices ?
How about this dears ? :smile:

[2016-01-29 16:17] yuvarajvemula commented on #66
Or can we use switch case ??

[2016-01-29 17:29] danieluhl opened #193 "recursive functions with memoization caching example issue"
@loverajoel Either I'm entirely missing something or this first example doesn't do anything:
https://github.com/loverajoel/jstips/blob/gh-pages/_posts/en/2016-01-29-speed-up-recursive-functions-with-memoization.md

[code]

I think what this might be going for is something like this?

[code]

[2016-01-29 17:33] loverajoel commented on #193
@hingsir ping

[2016-01-29 18:00] mrosata commented on #193
@danieluhl true

[2016-01-29 18:18] RafaelTaranto commented on #193
Yep, the first example only works if you go sequentially starting at 2.

[2016-01-29 19:44] ffigiel commented on #193
This will be fixed in es9.
jk, thanks for pointing this out :+1:

[2016-01-30 11:37] tommot348 opened #195 "Tip #29 Fibonacci example incorrect"
the (cache[n]=cache[n-1]+cache[n-2]) part can't work, because the values arent't computed first if you don't call the function for every number smaller than the one you want.

this works:
var fibonacci = (function(){
    var cache = {
        0: 0,
        1: 1
    };
    return function(n){
        return n <= 1 ? cache[n] : (cache[n] = (cache[n-1] || fibonacci(n-1) + cache[n-2] || fibonacci(n-2)

[2016-01-30 15:28] loverajoel commented on #195
@hingsir ping

[2016-01-31 04:00] boneskull opened #197 "Convert-to-Boolean tip of questionable value"
`!!value` converts `value` to a `Boolean`. This much is true.

It's also arguably "too clever" and a source of confusion to inexperienced JS programmers--it's in the same category as using `~` with `Array.prototype.indexOf()`.

An alternative which I have found to be much more obvious (though perhaps too verbose for some) is instead using `Boolean(value)`, which does the same.

Just wanted to star

[2016-01-31 05:55] hingsir commented on #195
thanks, see [pr196](https://github.com/loverajoel/jstips/pull/196/files)

[2016-01-31 05:56] hingsir commented on #193
my bad, [pr196](https://github.com/loverajoel/jstips/pull/196/files) may fix that

[2016-01-31 07:57] pertrai1 opened #199 "Adding Disqus for commenting"
Would it be worth it to add Disqus for being able to comment on the tips? I had some issues with the Fibonnaci examples, and if there was a way to comment for feedback, that would be great.

[2016-01-31 08:02] kurtextrem commented on #199
:+1: very good idea :)

[2016-01-31 08:04] pertrai1 commented on #199
@kurtextrem :-). I would be willing to implement if it it ok to do so

[2016-01-31 15:18] loverajoel commented on #193
@danieluhl PR merged, can I close this?

[2016-01-31 15:23] loverajoel commented on #197
@hakhag ping!

@boneskull maybe you can move this conversation to http://www.jstips.co/en/converting-truthy-falsy-values-to-boolean/ , there are Disqus comments and more people can see this

[2016-01-31 15:25] loverajoel commented on #199
@pertrai1 there are Disqus comments in the site.
![image](https://cloud.githubusercontent.com/assets/1700100/12702969/b00ad852-c815-11e5-8b6b-0a1375a9c33e.png)

let me know if not work for you

[2016-01-31 16:26] pertrai1 commented on #199
ah be done gone. Did not even see that. Thanks @loverajoel

[2016-01-31 16:26] #199 closed

[2016-01-31 18:21] loverajoel opened #201 "[TODO] - Chinese version"
- We need have a index for this language
- Translate contribution rules

[2016-01-31 21:27] #193 closed

[2016-02-01 10:31] sjfkai commented on #201
Is the `index` what you said was tips title list?
And , witch directory should I push these files ? In `zh_CN/` like `/zh_CN/CONTRIBUTING.md`?
I will translate soon.

[2016-02-01 12:30] RafaelTaranto commented on #193
Still not getting result from cache, can't submit pr right now but the return should be :

`return (n in cache) ? cache[n] : (cache[n] = self(n-1) + self(n-2));`

[2016-02-01 13:27] loverajoel commented on #201
I think that is better create a `CONTRIBUTING_zh_CN.md` file in the root

[2016-02-02 08:03] mmk2000 opened #207 "aaaa"
支持一下 博主写的不错~
免费SSH群里有的，欢迎博主也来 QQ群536768091

[2016-02-02 08:15] sjfkai commented on #207
@mmk2000  No AD! (禁止广告！)

[2016-02-02 08:15] #207 closed

[2016-02-02 12:05] AlphaHasi opened #208 "What are the relations between branches?"
I checked out master some weeks ago, pulled every now and then. Now I forked a branch and wanted to add some changes I did with my earlier checked out branch and see that the (new) branch is completely different from master. And there are more, so one branch has 32 tips, the other 30, the master "only" 23. Is there a reason that these branches are all having there own life? To which branch should

[2016-02-02 12:10] AlphaHasi commented on #208
Ach, ok, now I see: gh-pages is "default". Still confused, but I will take this one from now on.

[2016-02-02 12:10] #208 closed

[2016-02-03 04:24] loverajoel commented on #208
:+1:

[2016-02-03 05:22] loverajoel commented on #201
@sjfkai I have to make a hot fix https://github.com/loverajoel/jstips/commit/e357531a0ea914d77f7d5acd460173e571f7299c

Seems be a bug in the update of jekyll by github:
https://github.com/jekyll/jekyll/issues/4433
https://github.com/jekyll/jekyll/issues/4442

I will revert this when find another solution

[2016-02-03 17:03] bsitruk opened #214 "Tip #32 Same order across browser"
According to [this article](http://www.2ality.com/2015/10/property-traversal-order-es6.html), it looks like the browsers traverse the keys through the same order.

I just let it here to complete the tip #32.

[2016-02-03 17:19] StevenACoffman opened #215 "#33 Range Tip text mistake"
The text should clearly state that original range will yield an array from 0... **N-1**, and the second version will yield an array from 1...N.

For instance:

[code]
By the way, the second version is probably not quite as useful as a start and end version:

[code]

[2016-02-03 17:39] loverajoel commented on #215
@SarjuHansaliya ping!

[2016-02-03 20:22] jupl opened #216 "#34 ES6's let"
It would probably be good to note that with ES6 the `let` keyword is useful since it's block scoped unlike `var`. In fact the following would work as expected, and a transpiler like Babel can transform the code to something similar to the tip solution.

[code]

[2016-02-03 20:25] loverajoel commented on #216
@madmantalking ping!

[2016-02-04 02:01] JakeRawr commented on #216
@jupl Nice, I was just about to write what you just wrote.

Also, @madmantalking for the second and third examples. I think you meant to `console.log(temp)` instead of `console.log(i)` and the result would be `4 4 4 4 4`

[2016-02-04 02:55] shrynx commented on #216
@loverajoel @JakeRawr oh yes , damn, i did that mistake , i'll make the necessary changes for logging temp.
and also i'll incorporate solution using let as an alternative solution

[2016-02-04 04:58] SarjuHansaliya commented on #215
@StevenACoffman Thanks for pointing out.
@loverajoel Should I update a post and create pull request ?

[2016-02-04 05:23] sylvaindethier commented on #195
Are you sure of that implementation ?
I've benchmarked this tips, but it seems memoized functions takes longer to run, if it can run !

Check out the bencmarks:
- jsPerf: https://jsperf.com/js-tips-29
- jsBin: https://jsbin.com/silobu/edit?js,console

I propose a better cached version for fibonacci, which can be simply implemented for any other recursive function:

[code]

[2016-02-04 10:18] tommot348 commented on #195
I added some stuff
- [jsperf](http://jsperf.com/js-tips-29/2)
- [jsbin](https://jsbin.com/qobelopaje/edit?js,console)

The iterative version is to show that tail recursive functions can (always) be written in an iterative way and that's almost always faster.

[2016-02-04 13:46] #215 closed

[2016-02-04 19:11] megapctr opened #222 "#35 anti-example?"
Tip says

a = true;
b = false;
[code]

Why go the long way? This is not cleaner OR simpler.

[2016-02-04 19:15] loverajoel commented on #222
I agree with you, and I remove it, thanks for your advice!

[2016-02-04 19:15] #222 closed

[2016-02-04 19:16] megapctr opened #223 "Tip #35 Elaborate on ++ and --"
Sorry to bash on this tip like that, but I think we could provide more details on ++ and -- operators. Maybe add a new section about them?

For example, what's the difference between `var b = --a;` and `var b = a--;`?

[2016-02-04 20:05] timomeh commented on #223
Seeing that post I immediately thought that, too.

Knowing the difference between `a--` and `--a` is quite useful – especially in combination with ternary operators.

[2016-02-05 10:26] adaniloff commented on #216
Hi there,

The last part of this tip is wrong :

[code]

It should be either :

[code]

Or :

[code]

[2016-02-05 14:19] gunar commented on #10
This tip is strongly misleading and should be updated according to the comments above (and @BenoitZugmeyer's edit of the jsperf).

[2016-02-05 14:44] FagnerMartinsBrack commented on #10
Microbenchmarks are useless unless you are working developing a new language or framework. If that is the case, then you definitely don't need jstips. This should be about legibility and real life usage, not things that 99% of the JavaScripters will not be using in the wild.

[2016-02-06 08:24] kurtextrem commented on #10
imho I find the tip fitting.
JSTips is about stuff that most of us do not know. Who knew, that `~`was doing something useful? Who knew what `~~` does?
I see how other methods are faster and more readable, but as long as there are popular projects out there which use this syntax, it is great to know what it means.

[2016-02-06 10:59] jonathanKingston commented on #10
@kurtextrem I don't really disagree with that statement, it would be nicer to clarify to beginners that it isn't a good format for these x reasons. Cool drills you didn't know about come with warning labels too.

[2016-02-06 11:03] kurtextrem commented on #10
@jonathanKingston

I think that is enough as warning label - or how would you re-paraphrase it?

[2016-02-06 11:30] FagnerMartinsBrack commented on #10
<sub>(For the sake of readability I would say that `Math.floor` could be a one-line module called `round-down`, just saying)</sub>

[2016-02-06 11:43] jonathanKingston commented on #123
@jknaresh well AJAX is 'secure' out of the box but it depends on what you are referring to. For example you can't just make an AJAX request to another server without both parties opting into using a **[CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing)** request, this means that hacker sites can't steal your GeoCities session just by making an AJAX request.

Now the security mentio

[2016-02-06 12:04] jonathanKingston commented on #10
@kurtextrem hmm sure that line wasn't in when it was on the single pager. It is however missing the issue about it not being equivalent either which is the bigger issue.

[2016-02-07 07:00] hsleonis commented on #223
Yeah. `a--` and `--a` or `a++` and `++a` are quite interesting.

[code]

And

[code]

[2016-02-09 05:13] noncentz opened #234 "Deduplicate-an-array misleading"
In regards to the es15 examples - It mentions, "We can't use the same approach when the elements are Objects, because Objects are stored by reference and primitives are stored by value." but the approach using set works fine with non primitives... let's take a look
[code]

[2016-02-10 08:39] #234 closed

[2016-02-10 23:03] lewisje opened #236 "array average and median"
In the [example about getting the median of an array](https://github.com/loverajoel/jstips/blob/gh-pages/_posts/en/2016-02-10-array-average-and-median.md) you appear to get the higher of the two middle values, when sorting an array with an even number of values; usually, however, the median is defined as the arithmetic mean of the two middle values, and the following change will follow that defini

[2016-02-10 23:45] loverajoel commented on #236
@soyuka ping!

[2016-02-11 07:46] soyuka commented on #236
Yes you're right, my mistake thanks!

[2016-02-12 16:49] #236 closed

[2016-02-16 08:39] rjgotten opened #249 "#46 gross oversimplification"
The code and instructions given in #46 are a gross oversimplification. Have a look at the hoops jQuery needs to jump through to arrive at a reliable cross-browser 'dom ready'.

(Perhaps it's time to start vetting tips before publishing them, because this is the umpteenth time that you're spreading wrong information and potentially harming other unknowing people's codebases with it.)

[2016-02-16 09:53] kurtextrem commented on #249
:+1: totally correct!

[2016-02-16 14:11] loverajoel commented on #249
@rjgotten I agree with you, even these days I have in mind rethink the "one js tip per day", following this directive, force us merge tips fast and without review enough.

[2016-02-16 17:51] loverajoel opened #251 "[Discussion] Rethinking JsTips goal"
One month and a half were born Js Tips with the concept of "One tip per day", 46 tips after these are my thoughts...

One tip day was an ambitious goal, even more, when the objective was a good quality and a useful tip.

We had really good tips for these days, excellent tips, but for the received feedback (and you can see that in the issues) show me that by follow the goal of one tip per day, I me

[2016-02-16 17:52] loverajoel commented on #249
@radibit @kurtextrem https://github.com/loverajoel/jstips/issues/251

[2016-02-16 18:30] gcjbr commented on #251
I think that's a natural evolution of the idea. Inevitably one day no good idea will come up and, in that case, it would be better to leave it be instead of filling it with a not so good tip or something too obvious.

Sure, we all would love one amazing new tip each day, but that won't be always possible. In that case, I think quality should be considered over frequency.

[2016-02-16 18:40] kurtextrem commented on #251
What about that one:
- For now we switch to "one tip a week". This leaves us empty room for reviewing tips and discussing (click "Watch", get notified about PRs and issues, join the discussion!)
- If (too) many new tips are coming in, we can switch back to daily (as the previous measure gives us enough time to review the new ones, so we publish the older ones first)

[2016-02-16 20:02] Pixeluh commented on #251
@kurtextrem I agree with your first point. If we're handing out one a week, we'll have quite a bit of time to revamp the quality of individual tips.

Quality should always be before quantity.

[2016-02-16 20:10] radibit commented on #251
Totally agree with the stated opinions by @souljacker and @kurtextrem. Definitely it's really hard to keep high quality on the reviews for all purposed tips on a daily basis.

I believe it's a good idea to switch to a different time frame, though I'm not sure if this should be once per week. Maybe at least twice per week or on a scheduled basis excluding the weekends like every Monday, Wednesday a

[2016-02-16 20:20] adaniloff commented on #251
Why do one need to bind a frequency to this publication of a tip?

I think it should be like "one tip after another" more than "one tip a day/week/month/whatever".

If two tips are good enough to be published the same day, that's great! But if they are not ready to be released, better waiting for more quality than publish some wrong / unclear tips.

I think too, maybe categorizing tips (by difficu

[2016-02-16 20:22] loverajoel commented on #251
+1 to @adaniloff, I think that is better don't set a frequency

[2016-02-16 20:35] zenopopovici commented on #251
### I think a way forward it to set a bunch of rules:
1. Tips should enter an "under review" phase where everyone contributing can vote on a tip (OK/NAK) in an Issue or PR.
2. If you want to "localize" tips, you will get a lot of requests that are basically just translating text. I don't see why tips should be translated. It's not a software for users where you need that kind of localization. You'

[2016-02-16 20:43] loverajoel commented on #251
@jucrouzet
1. :+1:
2. Translated tips are merged without code review because it's only a translation
3. :+1:
4. :+1:
5. I don't understand what are you trying to say, now jstips is open and free for reuse

[2016-02-16 20:43] adaniloff commented on #251
I kinda agree with the comment above by @zenopopovici. Especially the 1., 3. and 4 :)

EDIT : @loverajoel  ahah that's fun, same reaction :)
EDIT2 : for the 3., I personnaly like [those rules](https://github.com/feross/standard/blob/master/RULES.md)!

[2016-02-16 23:15] zenopopovici commented on #251
@loverajoel
5. I'm thinking ahead, I would want to publish these in an ebook format free for use at a time in the future. Anyway, there is no LICENSE file in the repo itself and one should be present (it's pretty standard). The readme has a link to a license not a license itself. Maybe I'm bickering about a non-issue but that's just me.

I've just downloaded the iOS app, it's gonna be my main free

[2016-02-16 23:16] zenopopovici commented on #251
@adaniloff - Those rules look pretty cool. :+1:

[2016-02-16 23:18] jucrouzet commented on #251
Guys, I'm not sure how did I came up in the discussion, but I'm pretty sure it's a bug :)
However, interesting exchanges :)

[2016-02-16 23:58] zenopopovici commented on #251
It's my bug :) Sorry.

[2016-02-17 00:59] tracker1 commented on #251
Maybe tips should start in `_posts/stage0/` wrt initial submission, in this way others can arrange for PRs and once it's been curated can move forward.
- `stage0` - Initial Submittion for review (by PR)
- `stage1` - Initial Review, accepted as a potential tip topic, edits should happen here pre-release
- `stage2` - Content edited, ready for release, prioritization stage

With each `git mv` through

[2016-02-17 05:11] loverajoel commented on #251
@zenopopovici I don't know much about licenses, I like a licence that is free use but for open source projects :smile:

[2016-02-17 08:57] kurtextrem commented on #251
I think we should also define rules such as:
- At least 3 (or 2?) people have to give their "LGTM"
- when there is one 'complaint' resolve first before moving on

I also like standard a lot (@adaniloff suggested it).

[2016-02-17 09:07] gihrig commented on #251
Yes, +1 for Standard JS

[2016-02-17 09:56] drakmail commented on #251
@zenopopovici :+1: I think it is great idea not bounding to a time constant. Another variant – publish only prepared tips once a week. It could provide some regularity without reducing quality.

[2016-02-17 10:16] adaniloff commented on #251
I'm on a meeting today so I won't be able to read / participate, I'll do it later!

Happy to see people who are concerned about jstip :)!

[2016-02-17 10:23] sjfkai commented on #251
Agree with other people's opinions. It's more important to focus on tips' quality  rather than must obey "One tip per day".

[2016-02-17 13:17] dan-relvas commented on #186
I agree, this sounds pretty cool.

[2016-02-17 13:20] drakmail commented on #186
:+1:

[2016-02-17 13:21] kurtextrem commented on #186
I think Babel (online) is better (ES6, console.log output)

[2016-02-17 13:22] loverajoel commented on #186
hey add you idea [here](https://github.com/loverajoel/jstips/issues/251)

[2016-02-17 15:35] souljacker opened #256 "Misspelling in tip 35?"
I'm contributing to the Portuguese translation, and I think I might have found a misspelling in tip 35, English version.

At like 17 it reads:

Is "similiar" a misspelling of "similar" or is it a technical term I'm not aware of?

[2016-02-17 15:37] gcjbr commented on #186
I second that

:+1:

[2016-02-17 15:52] bmkmanoj commented on #251
@loverajoel - Here is another view to improve the quality of tips. If we can get some of most renowned guys in the JS community to contribute to this project by providing their tips, including the library/framework creators and committers/contributors, the people who drive the EcmaScript and web standards, we can expect the tips to be of high quality. And if we are not able to get them to contribu

[2016-02-17 15:58] pastrop commented on #251
I think quality is always more important than quantity.  The value comes from the output itself and not necessarily from the frequency of its arrival.  Also if you you feel like you don't have enough JS in your life, check this one out https://www.codewars.com.  It may give you ideas for good tips!

[2016-02-17 16:25] loverajoel commented on #251
@bmkmanoj I tried to contact JS rockstars to contribute but without success yet.

[2016-02-17 16:38] pastrop commented on #251
I will shoot a message to NYC JS group I am member of http://www.meetup.com/NY-JavaScript/

[code]

 To: loverajoel/jstips jstips@noreply.github.com
Cc: pastrop pas_trop2003@yahoo.com
 Sent: Wednesday, February 17, 2016 11:25 AM
 Subject: Re: [jstips] Rethinking JsTips goal (#251)

@bmkmanoj I tried to contact JS rockstars to contribute but without success yet.—
Reply to this email directly or vie

[2016-02-17 16:41] adaniloff commented on #251
It may not be relevant with the main subject of this topic, but I also think one of the greatest thing in a quality > quantity approach is the community which will participate.

Lemme explain my point of view.

Publishing quality means people code to be extremely analysed / reviewed. So people who are going to contribute will share the eager to learn / debate about things they may be not sure abou

[2016-02-17 16:45] bmkmanoj commented on #251
@loverajoel That is kinda sad :worried:. I really like this project and I would like to take some responsibility towards keeping it going and grow stronger, by translating some of good stuff from the JS rockstars that I have been collating from blogs/ sites and publish here. If you feel, making me a collaborator will help in this direction - you may do so, but it is fine otherwise also.

[2016-02-17 16:47] jklosinski commented on #256
It's a misspelling.

[2016-02-17 17:35] dexterneo opened #257 "Tip #00 Error"
Via url of the tip : http://jsperf.com/push-item-inside-an-array

[code]

It's false !

arr.push(6); does 26 457 551 operations per second ! in Chrome 47.0.2526.106
arr[arr.length] = 6; does 5 223 471 operations per second ! in Chrome 47.0.2526.106

READ : operations per second (higher is better) at the bottom of the chart !

So in fact arr.push(6); is 5.06 times faster !!! in Chrome 47.0.2526.106

[2016-02-17 20:08] ramitayba commented on #251
Simple things are always the best, keep on.

[2016-02-17 21:21] loverajoel commented on #251
All of us are on the same page, **quality > quantity**.
So, I'm going to create a couple labels to tag each tip.

All tips will have (same now) a label `tip-proposal` to identify tips PR's. Also will be two more labels to identify the status of the tip:  `under review` and `ready to merge`.

A tip will be `ready to merge` when at least 5 people give his :shipit: => `:shipit:`

Also, I need help fo

[2016-02-18 07:53] drakmail commented on #251
@loverajoel Are you talking about tips license or about code in tips license? For tips best choice is one of Creative Commons licenses, for code – GPL v3. These licenses best fits for free usage in open source projects.

[2016-02-18 10:00] #256 closed

[2016-02-18 10:01] sjfkai commented on #256
fixed by #258

[2016-02-18 15:42] loverajoel commented on #251
@drakmail awesome! thanks for that!

[2016-02-18 18:13] adaniloff commented on #257
@loverajoel :shipit:

[2016-02-18 18:52] zenopopovici commented on #251
@loverajoel I've added the license.

[2016-02-18 22:01] johnstew commented on #251
Quality of quantity for sure.

[2016-02-18 23:31] loverajoel commented on #257
@dexterneo you are right, can you send a PR? if not, let me know and I will made the fix

[2016-02-18 23:46] pastrop commented on #251
So, following up on the idea of peer-reviewing  tips before publishing is there going the be some holding area for people to go in and review the pending tips.  How it all is going to work?  Are we going to somehow leverage github workflow with people submitting pull requests? 
Also here is yet another pretty amorphous thought.  I am writing scaffolding for ecommerce platofrm using MEAN stack.  Wh

[2016-02-19 00:52] loverajoel commented on #251
PR with proposed changes about new rules  https://github.com/loverajoel/jstips/pull/260

I need review

[2016-02-19 03:24] gihrig commented on #251
@loverajoel If we're talking about licensing tips code, the GPL is absolutely the wrong license, due to this line at the end of the license file.

The GPL will ensure that businesses or anyone developing commercial software will not acknowledge  using JS Tips (if they're paying attention).

Look around the [npm registry](https://npmjs.org) and you'll see the MIT is far and away the most common lic

[2016-02-19 07:31] drakmail commented on #251
@gihrig GPL best fits for requirements of @loverajoel

@gihrig you are right, MIT is better as license for tips that allows usage in proprietary projects.

[2016-02-19 08:28] kurtextrem commented on #251
Personally I vote for https://en.wikipedia.org/wiki/WTFPL.

[2016-02-19 09:02] zenopopovici commented on #251
I think GPL should be used. All contributors are volunteers, reviews are done by the same volunteers, it should be open source.

It should be up to @loverajoel though.

We can change the license now, but it will be very hard to do that later.

PS: The license in the repo applies to everything unless we split the repo into 2 different repos (one for tips, the other for the site) and apply a differe

[2016-02-19 09:26] drakmail commented on #251
@loverajoel I think there should be a issue with vote for most suitable license for the tips.

[2016-02-19 10:01] mathiasbynens opened #262 "Tip #46 - Document ready"
Re: https://github.com/loverajoel/jstips/blob/gh-pages/_posts/en/2016-02-15-detect-document-ready-in-pure-js.md

Why not just use the `DOMContentLoaded` event for those use cases?

[2016-02-19 13:08] adaniloff commented on #262
I think it's more about (browsers') compatibilities, as explained [here](https://developer.mozilla.org/en-US/docs/Web/Events/readystatechange).

Not really sure about it though.

[code]

It may be helpful to add it in the tip @loverajoel :)

[2016-02-19 13:11] mathiasbynens commented on #262
For old IE support you need something like https://github.com/dperini/ContentLoaded/blob/master/src/contentloaded.js anyway.

[2016-02-19 13:20] adaniloff commented on #262
About [compatibilities](https://developer.mozilla.org/en-US/docs/Web/Events/DOMContentLoaded#Cross-browser_fallback) :

[code]

So I guess it wont work for older versions than IE8, in which case `contentLoaded` would be required.

[2016-02-19 13:27] mathiasbynens commented on #262
To summarize:
1. `DOMContentLoaded` is IE9+.
2. If you need to support IE8 and older (in 2016 I hope you don’t have to) you should use something like https://github.com/dperini/ContentLoaded/blob/master/src/contentloaded.js that implements the scrolling trick (which the code samples in this post don’t do).

IMHO the post should be simplified to use `DOMContentLoaded` for the last two examples. If

[2016-02-19 13:45] adaniloff commented on #262
Seems legit :) :shipit: !

[2016-02-19 17:02] loverajoel commented on #262
@madmantalking I can add one more case using this `DOMContentLoaded`, what do you think

Thanks for your suggestion

[2016-02-19 17:07] loverajoel commented on #251
I have not problems about licence type, we can choose the fittest for the project.
The only case that I think that we have to prevent is for example if somebody uses the Tips for creating a platform for tech js and it isn't free.

cc @drakmail @kurtextrem @zenopopovici

[2016-02-19 17:40] kurtextrem commented on #251
Oh yes, totally right.
So we need a license which prevents commercial use, and requires crediting
when using or modifying the genuine content of the tip (don't confuse the
genuine content with actual code - I don't think it makes sense to
"license" code in tips, as that would bring confusion whether you have to
credit the author when using the code. It's also likely someone else wrote
about the sa

[2016-02-19 17:59] loverajoel commented on #251
@kurtextrem +1

[2016-02-19 18:50] zenopopovici commented on #251
@kurtextrem +1

[2016-02-19 20:50] loverajoel commented on #251
some idea about what kind of license is?

[2016-02-19 20:55] jeremyfourna commented on #257
OK I'll send a PR during the WE

[2016-02-19 20:57] drakmail commented on #251
@loverajoel I think best is MIT license for code in tips and one of of Creative Commons licenses for tips text. It allow to use tips code in free and proprietary projects and restrict tips text usage (for example, allowing usage only with link to jstips repo)

[2016-02-19 21:03] drakmail commented on #257
Also, in safari `arr[arr.length] = 6;` is almost 2% faster that push :-)

[2016-02-19 21:06] drakmail commented on #257
And maybe benchmark doesn't correct because there is could be some browser engine optimizations caused by same data in all tests (arr always have same set of elements)

[2016-02-19 21:22] loverajoel commented on #197
@boneskull seems @hakhag didn't see this

[2016-02-19 21:40] loverajoel commented on #251
I want to merge the new rules, but I need :shipit:'s :p

https://github.com/loverajoel/jstips/pull/260

[2016-02-19 21:51] zenopopovici commented on #262
I think IE9+ support is OK. Older browsers are simply edge cases which we shouldn't cover anymore.

[2016-02-19 21:55] zenopopovici commented on #216
@loverajoel: This should be closed as the PR for it is closed. We should add "Fixes #bugnumber" to our commit message so that when the PR is closed, also the afferent bug is closed.

[2016-02-19 21:56] zenopopovici commented on #214
@bsitruk if you have a suggestion can you please make a PR?

[2016-02-19 21:59] zenopopovici commented on #251
Suggestion: Can we also set a limit of 2 weeks for an issue to be answered? We would close it if 2 weeks pass and the creator didn't answer. Would help to keep the issue list lean.

[2016-02-19 22:01] zenopopovici commented on #251
Suggestion2: Can we ask people with that have a better implementation of some tip to make a PR? There are some answers in issues that would require a PR, but are left as comments.

[2016-02-19 22:05] zenopopovici commented on #10
Guys can you make the required changes for the affected tips in a PR?

[2016-02-19 22:07] zenopopovici commented on #185
@turitcha  Could you please elaborate? If you spot a mistake, a PR is the best way to go.

[2016-02-19 22:07] zenopopovici commented on #42
@boneskull if you have any improvements can you submit a new PR? Or let us know if this can be closed.

[2016-02-19 22:11] zenopopovici commented on #66
A function would be the most obvious choice here. Switch can work too, but in this case it should be a function.
@petetnt Can you add a PR that completes the example with a function as you suggested?

[2016-02-20 12:30] zenopopovici commented on #223
@megapctr Could you create a new PR with the proposed changes? We'll merge once we review it.

Thanks.

[2016-02-20 12:33] #216 closed

[2016-02-20 12:37] zenopopovici commented on #197
Closing, as conversation was moved. If you have suggestions on improvements for a specific tip, please make a PR.

[2016-02-20 12:37] #197 closed

[2016-02-20 12:44] zenopopovici commented on #195
@sylvaindethier Please make a PR and then we can review it.

[2016-02-20 12:44] zenopopovici commented on #186
:+1: Great idea

[2016-02-20 12:46] zenopopovici commented on #251
Suggestion from #186: We should add JSBin links to tips. I second that!

[2016-02-20 12:56] #185 closed

[2016-02-20 12:59] zenopopovici commented on #182
Hey @zzz6519003,

Please make a PR with an example in so we can consider / merge your suggestion.

Thanks!

[2016-02-20 13:04] zenopopovici commented on #123
Hey guys,

Maybe we can muster a few examples, and good case practices in a PR :see_no_evil: from some of you who have a bit of experience with this?

[2016-02-20 13:09] zenopopovici commented on #53
Please re-open and submit changes if this is still not OK.

[2016-02-20 13:09] #53 closed

[2016-02-20 13:10] zenopopovici commented on #27
Please submit changes in a PR and re-open this if you believe the tip is still not OK.

[2016-02-20 13:10] #27 closed

[2016-02-20 13:13] zenopopovici commented on #62
Hey @Kerndog73, @FagnerMartinsBrack, can you guys submit a PR with the required changes then we can review it and merge it.

[2016-02-20 13:20] zenopopovici commented on #249
We're adding new rules in the coming days. #46 has been closed for now.

[2016-02-20 13:20] #249 closed

[2016-02-20 13:26] zenopopovici commented on #201
This is fixed for now.

[2016-02-20 13:26] #201 closed

[2016-02-20 13:30] sylvaindethier commented on #195
@zenopopovici sure, should have done it first.
Question: Do I have to update both [_posts/en](tree/gh-pages/_posts/en) & [_posts/zh_CN](tree/gh-pages/_posts/zh_CN) corresponding files ?
If I'm totally wrong, what should I have to do ?

[2016-02-20 13:36] zenopopovici commented on #195
@sylvaindethier Yes, please update both posts if you can, if not, we have to involve @sjfkai for the chinese version.

In the coming days we'll add new rules and submit every update / new tip to a review by the community if it's approved, it will get merged. See #251

[2016-02-20 13:37] sylvaindethier commented on #195
@tommot348 Nice perf for your iterfib algo dude :+1: . I'm working on a PR and will include your algos w/ your permission.
@zenopopovici But the initial point is that the `memoized` functions (fibonnacci and others) are very poor in performance compared w/ standard algo. The point was: are you sure of the implementation, or the point that memoized funcs are more efficient ?

[2016-02-20 13:48] sylvaindethier commented on #195
@zenopopovici I'm working on that PR. But the changes are from @tommot348, code has better [perf](https://jsperf.com/js-tips-29/2) than mine.

[2016-02-20 13:57] zenopopovici commented on #195
@sylvaindethier I see now, maybe the tip is not really OK and we have to change it completely. That's why we're implementing tips review.
@loverajoel weigh in on this?

[2016-02-20 14:24] zenopopovici commented on #195
PR is #264

[2016-02-20 14:37] jonathanKingston opened #266 "Fix translation for #265"
This changes the wording around security:
https://github.com/loverajoel/jstips/pull/265

[2016-02-20 14:49] sjfkai commented on #195
Usually, Before I translate the new tip, I will review new commits to update every changes in `en` tips.

But if you can update both language I would really appreciate

[2016-02-20 14:55] sylvaindethier commented on #195
@sjfkai done! If the text has no explanation about the code the PR #264 should be OK

[2016-02-20 15:06] zenopopovici commented on #266
Changes accepted. Makes perfect sense.

[2016-02-20 15:17] zenopopovici commented on #266
Forgot about Chinese. We'll need a process to do this.

[2016-02-20 15:39] tommot348 commented on #195
@sylvaindethier you can use my code. Thanks for looking at it again

[2016-02-20 16:05] sylvaindethier commented on #251
I agree w/ @zenopopovici [point 2](https://github.com/loverajoel/jstips/issues/251#issuecomment-184865110). Why should the tips be translated ? IMO any (JS) developer should be able to read technical english.
Is GitHub translated ? No !
Is MDN translated ? ... Oh wait, yes ! But personally I always read their `en_US` docs.

[2016-02-20 16:06] kurtextrem commented on #251
I think voluntary translations are fine, however they shouldn't block publishing.

[2016-02-20 16:45] zenopopovici commented on #266
Update: Chinese language will be updated by the language responsible.

[2016-02-20 16:45] #266 closed

[2016-02-20 16:47] zenopopovici commented on #251
As it stands now, every language will have a responsible that will follow each commit that changes the en  version, so translations will not block publishing. So everyone is happy :8ball:

[2016-02-20 17:43] jonathanKingston commented on #266
Thank you!

On Sat, 20 Feb 2016 16:45 Zeno Popovici notifications@github.com wrote:

[2016-02-20 17:45] jonathanKingston commented on #123
Yeah will get some commits up soon. Can't guarantee timeline at the moment.
Is there any preference in the order of the work for the comments I left
above?
Are there other topics or things that might be out of scope?

On Sat, 20 Feb 2016 13:04 Zeno Popovici notifications@github.com wrote:

[2016-02-20 18:24] zenopopovici commented on #123
There are no restrictions, and we don't know where to start so I guess anything that is useful would do. I would start with best practices and small but smart stuff that helps in securing a JS proiect. E.g.: Crypto is pretty advanced stuff, so I would not prioritize this.

[2016-02-20 19:51] ffigiel commented on #223
You're welcome :wink:

[2016-02-20 23:54] boneskull commented on #197
Moved where?
On Sat, Feb 20, 2016 at 04:38 Zeno Popovici notifications@github.com
wrote:

[2016-02-21 00:34] zenopopovici commented on #197
@boneskull here:  http://www.jstips.co/en/converting-truthy-falsy-values-to-boolean/

[2016-02-21 17:48] zenopopovici commented on #251
Guys you might want to look over the PR and give your :shipit: or :no_good: vote for the new rules.

We can still improve rules along the way. Anyone can come up with a PR. We want to implement the new rules next week and we have a few tips waiting to be reviewed in the pipeline.

//cc @souljacker, @kurtextrem, @Pixeluh, @radibit, @adaniloff, @jucrouzet, @tracker1, @gihrig, @sjfkai, @bmkmanoj, @pa

[2016-02-21 18:14] jonathanKingston commented on #123
@zenopopovici sure crypto doesn't really make sense as a tip despite perhaps hashing examples which are far less technical.
The other topics I mentioned are not really simple tips that could be copy and pasted etc. SRI probably is the only simple suitable for a tip where a few lines of code can demo how to prevent against hijacked servers.

[2016-02-22 03:38] pastrop commented on #251
I might've somehow missed it yet could you guys tell me how the voting works?  I go to GitHub and  don't see where I am supposed to vote

[code]

 To: loverajoel/jstips jstips@noreply.github.com
Cc: pastrop pas_trop2003@yahoo.com
 Sent: Sunday, February 21, 2016 12:48 PM
 Subject: Re: [jstips] [Discussion] Rethinking JsTips goal (#251)

Guys you might want to look over the PR and give your  or  vo

[2016-02-22 08:44] zenopopovici commented on #251
@pastrop Just enter the `:shipit:` or `:no_good:` emoticon in the comments section of the PR/Issue.
Or just say "I'm OK with this".

[2016-02-22 09:02] ffigiel commented on #223
I noticed that [jstips.co](http://www.jstips.co/en/assignment-shorthands/) doesn't render my ordered list properly (compare to [github](https://github.com/loverajoel/jstips/blob/gh-pages/_posts/en/2016-02-04-assignment-shorthands.md)). Should I open an issue for this?

[2016-02-22 13:01] jeremyfourna commented on #257
Hope the PR will be of use.

[2016-02-22 13:02] jeremyfourna commented on #257
I'll let you close the issue if the PR is OK with you.

[2016-02-22 13:23] zenopopovici commented on #223
@loverajoel It seems that Jekyll is doing something fishy with the GitHub pages. Is this related to the warning we receive on each merge?

[2016-02-22 13:27] zenopopovici commented on #257
Cool stuff! Thanks @dexterneo, we'll add it under review this week.

[2016-02-22 21:34] pastrop commented on #251
It look like we are overthinking it....So :shipit: It'll always can be amended later, also I wouldn't spend to much time focusing on localization & translation. The way things are now, CS is done in English. If people feel strongly about translating tips into other languages, more power to them....

[2016-02-22 22:42] zenopopovici commented on #251
Agree ... let's merge the new rules @loverajoel

[2016-02-22 23:19] loverajoel commented on #251
New rules merged! Thanks for your comments and your support!

[2016-02-22 23:19] #251 closed

[2016-02-22 23:30] loverajoel commented on #223
@zenopopovici @mebjas so strange, I think that maybe it's related with the Jekyll update in the last time for Github, I will back with more info.
Thanks

[2016-02-23 00:18] pastrop commented on #262
This one is probably should be closed.  I also think that we shouldn't worry about IE8 and earlier browsers.  In all fairness none of the newer JS capabilities are supported in older browsers and fewer and fewer people working on new systems care about those.  Sure, there are older systems that need to be maintained but if you are in the maintenance mode, you probably already know what to watch fo

[2016-02-23 01:45] pastrop commented on #195
As we all know this is a pretty classic problem. Below is Douglas Crockford code for that (Chapter 4 from the JS the Good Parts):

[code]

So here is a thought: Except the author submitting the tip truly believes that submitted solution is significantly better than whatever else has been done before, I don't think such a tip has a merit.  Again, I am talking about well researched problems.  Other

[2016-02-23 03:23] SudoKillMe opened #272 "Tip33 Number.call ?"
Array.apply(null,{length:10}).map(Number.call,**Number**);
in tip33, if function map's second param is 'Array',the result will be nine arrays;if the second param is 'Object',the result will be something like '[number:0]'...I wonder **how the param influences the result**?
and what is the reference of 'this' in Number.call?
thank you

[2016-02-23 07:44] rainbowcatcher commented on #272
Map's second param is used as `this` when executing callback,so `Array.apply(null,{length:10}).map(Number.call,Number)`  will execute `Number.call.call(Number,undefined, n)` in each loop.`Number.call.call(Number,undefined, n)` is the same as `Number.call(undefined, n)`.
You can also use `Array.apply(null,{length:10}).map(Function.prototype.call,[Number|Array|Object])` instead.

[2016-02-23 08:17] SudoKillMe commented on #272
@kubrick1991
Thank you very much. I benefited a lot from your answer.
however,I still have a question,as you said:
`Array.apply(null,{length:10}).map(Function.prototype.call,Number)` will execute `Function.prototype.call.call(Number,undefined,0,[undefined,...])` for the first element,in this code,'this' refers to 'Number'(am i right?),and this is the same as `Function.prototype.call(undefined,0,[u

[2016-02-23 10:07] rainbowcatcher commented on #272
@SudoKillMe
`Function.prototype.call.call([Number|Array|Object],undefined,n)` is the same as `[Number|Array|Object].call(undefined,n)`,not `Function.prototype.call(undefined,n)`.The second param is the function to finally execute, and the first param is just a `call` function.

[2016-02-23 10:57] moorsiek commented on #272
@SudoKillMe
`Function.prototype.call(undefined,0)` is not the same as `Function(0)`.

The former calls function `Function.prototype` with `undefined` as its context and `0, [undefined, ...]` as its arguments. This will return `undefined` (function `Function.prototype` always returns `undefined`).

The latter calls constructor `Function` with only argument `0`. The result of such call is a newly cr

[2016-02-23 11:18] SudoKillMe commented on #272
@kubrick1991
thanks a lot! I never thought the detail of these functions,you helped me a lot
thanks again

[2016-02-23 11:19] SudoKillMe commented on #272
@schyzoo
thanks,your answer made me understand something that I didn't know

[2016-02-23 11:46] zzz6519003 opened #275 "My thinking on "tips""
tip aka test in production,
it should be useful
it should not be too fancy

[2016-02-23 21:44] boneskull commented on #197
Well, I commented on there (and other are in agreement with me), but nothing has changed.  How do we get a tip changed?  Or in this case, probably removed?

[2016-02-25 11:15] woverton opened #284 "What's happened?"
Why have there not been any new tips since 48?

[2016-02-25 12:05] FagnerMartinsBrack commented on #284
See #260.

@loverajoel, need to update the project description:

[2016-02-25 13:55] ro0NL opened #285 "Weird pagination at jstips.co"
Hi,

Just a minor issue.. but i noticed the paginator at http://www.jstips.co sometimes show 3 results per page and sometimes 4 results per page..

As we speak:
- http://www.jstips.co/3/ shows 4 results
- http://www.jstips.co/4/ shows 3 results
- http://www.jstips.co/5/ shows 3 results
- http://www.jstips.co/6/ shows 4 results
- http://www.jstips.co/7/ shows 3 results

Also noticed that page #1 in

[2016-02-25 13:57] ro0NL commented on #285
Perhaps also start at index 1 rather than index 0 for the tip count..

Tip #0 feels a bit weird to me (http://www.jstips.co/15/)

[2016-02-25 14:20] zenopopovici commented on #284
@woverton there are tips in review, you can contribute by giving your :shipit: (OK) vote to them or suggest improvements. Take a look at the open PRs.

[2016-02-25 14:20] #284 closed

[2016-02-25 14:21] zenopopovici commented on #285
We'll look into that. Thanks.

[2016-02-25 14:29] loverajoel commented on #285
@ro0NL yes, so weird, I will check.

thanks

[2016-02-25 14:32] loverajoel commented on #284
@woverton how @zenopopovici said, rules changed, we are waiting for review for merge, for example this https://github.com/loverajoel/jstips/pull/248

[2016-02-25 22:54] pastrop opened #287 "JSTips Labels / Tags"
Overall thought about the selection criterion for JSTips: I think a priority should be given to the tips useful for practical development problems that JS developers are facing that are not well addressed in the existing resources.  Just to give a few examples:  Lately, I have been coding using MEAN stack.  There are a very few resources addressing issues associated with NPM Mongoose (MongoDB modu

[2016-02-25 23:04] calderaro commented on #287
L

El jue, feb 25, 2016 06:24 PM, pastrop notifications@github.com escribió:

[2016-02-25 23:29] zenopopovici commented on #287
@pastrop Everybody is more than welcome to contribute with a PR. We're not refusing anything that is of interest.

[2016-02-26 06:01] kurtextrem commented on #287
Your last few sentences clearly show the reason for JSTips: "All over the
place".
So who has time to go over every answer on StackOverflow? How do you Google
things you don't even know (e.g. as beginner: "wtf is prototype?". If you
don't know it, you can't find it).
Our tips aren't for pros only, but target beginners as well. If they want
to get better, they can find multiple good tips in one plac

[2016-02-26 08:52] SudoKillMe commented on #257
`var arr1 = [];
var arr2 = [];
var arr3 = [];
var arr4 = [];`
`console.time(11);`
`for(var i=0; i<10; i++){`
`arr1.push(i);`
`}`
`console.timeEnd(11);//output: **0.437**ms`

`console.time(22);`
`for(var i=0; i<10; i++){`
    `arr2[arr2.length] = i;`
`}`
`console.timeEnd(22);
//output: **0.062**ms`

`console.time(33);`
`for(var i=0; i<100000000; i++){`
    `arr3.push(i);`
`}`
`console.timeEnd(33);

[2016-02-26 20:50] tracker1 opened #293 "Tip 49 is not a unix timestamp..."
A unix timestamp is based in seconds since the UNIX epoc.   A JavaScript datetime value is the milliseconds.. you need to divide by 1000 to get a unix timestamp.

    var dtm = new Date(); //or some other date instance
    var timestamp = ~~(dtm / 1000)

[2016-02-26 21:14] loverajoel commented on #293
@tracker1 true

@nmrony take a look here

[2016-02-27 06:50] nurrony commented on #293
Yes true, silly mistake always gives pain. @tracker1 Thanks... @loverajoel Let me send a patch for it. How can I send a patch?

[2016-02-27 07:24] kurtextrem commented on #293
Just do another PR.

[2016-02-27 09:21] hingsir commented on #293
It seems that RFC2822 has much compatibility than ISO8601, so we prefer `new Date('2016/01/01')`  to `new Date('2016-01-01')`

[2016-02-27 12:16] gromgit commented on #293
@hingsir RFC2822 dates are of the form "01 Jan 2016" rather than "2016/01/01", and RFC3339 (the official "Internet date and timestamps" RFC) is actually based on ISO8601, so I'm not sure what you mean by "compatibility".

[2016-02-27 12:48] nmrony commented on #293
@hingsir JS dateString value is compatible with IETF-compliant RFC 2822 timestamps and also a version of ISO8601. You can easily find this comparing the return values of `new Date('2012-06-08').getTime()` and `new Date('2012/06/08').getTime()`.  For more information please see [Date Javascript MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date)

[2016-02-27 13:03] nurrony commented on #293
@hingsir JS `dateString` value is compatible with IETF-compliant RFC 2822 timestamps and also a version of ISO8601. Main difference is between time zones
please check
-  [Date Javascript MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date)
- [Date.parse()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse)

[2016-02-27 13:21] nurrony commented on #293
@loverajoel @kurtextrem Sent another PR with conversion in seconds #294

[2016-02-27 14:40] hingsir commented on #293
@nmrony @gromgit You both right. The problem I met was that `new Date('2016-1-1')` returns  `Invalid Date` in iOS environment while `new Date('2016/1/1')` parsed correctly

[2016-02-27 15:32] neighborhood999 opened #295 "merge PR but page not change."
Hey @loverajoel, I have a question.
I already merge my #286, but I go to jstips blog found article no update.
what's happen?

[2016-02-27 18:18] nurrony commented on #293
@hingsir yes  and to convert it into `ISO-8601` format you need to pass `YYYY-MM-DDT00:00:00Z` and it should works fine on iOS. I don't have iOS devices right now. Can you confirm it? Then I will add it in Tip #294. One more thing `ES5`  assumes timezone is `UTC` where `ES2015` will be  Local timezone

[2016-02-28 04:27] gromgit commented on #293
@nmrony @hingsir Safari for iOS 9.2.1 handles ISO8601 `2016-01-01T00:00:00Z` just fine.

I also tested the other formats listed in the _Date and time (current at page generation) expressed according to ISO 8601_ sidebar of [https://en.wikipedia.org/wiki/ISO_8601](the Wikipedia page), across a slew of browsers on Linux, Mac OS X, iOS and Android. I was not surprised that every browser rejects the w

[2016-02-29 06:28] sjfkai commented on #295
I have the same problem at zh_CN version. I have commited the newest tip but it not appears.
@loverajoel

[2016-02-29 08:33] zenopopovici commented on #295
We have a build failure due to Jekyll changes for GitHub pages. @loverajoel needs to look into this.

[code]

[2016-02-29 08:35] zenopopovici commented on #295
Maybe #285 is also related to this?

[2016-02-29 09:18] zenopopovici commented on #295
It seems that it was unrelated to GitHub changes, but due to @neighborhood999 changes. Please make sure titles do not start with a backtick, this will break jekyll. I've fixed this.

[2016-02-29 09:18] #295 closed

[2016-02-29 09:34] neighborhood999 commented on #295
@zenopopovici Sorry, it's my bad.

[2016-02-29 15:58] nurrony commented on #293
@gromgit I will update PR adding the information soon

[2016-02-29 16:21] gromgit opened #302 "Tip #48 has confusing title"
I interpret **Reduce builtin function usage** as "cut down on your usage of native functions", which is a downright bizarre sentiment.

@darul75 I suggest a catchier and more accurate replacement: **How to `reduce()` and PROFIT!**

[2016-03-01 00:11] loverajoel commented on #302
@darul75 what do you think about it?

[2016-03-01 12:20] #42 closed

[2016-03-01 20:02] kurtextrem commented on #302
I think your proposed title is a bit too catchy, but I can definitely see why we should rename it.
Quick fix: adding backticks?

[2016-03-01 21:03] gromgit commented on #302
Or perhaps a simple **How to `reduce()` arrays**?

[2016-03-01 23:21] zenopopovici commented on #302
@gromgit PR please.

[2016-03-02 04:13] darul75 commented on #302
Hi all,

Sure it was a bit confusing and I did not know how to express it well.

I have to think about it too but if you have idea just put it I am on
holiday now and connexion very bad here.

Kindly,

Julien

Port: 06 24 79 14 83

2016-03-02 0:22 GMT+01:00 Zeno Popovici notifications@github.com:

[2016-03-02 05:28] gromgit commented on #302
@zenopopovici Done, #308

[2016-03-02 07:37] kurtextrem commented on #302
If @darul75 is fine with that :shipit: (#308)

2016-03-02 6:28 GMT+01:00 gromgit notifications@github.com:

[2016-03-02 11:02] darul75 commented on #302
Sounds good :+1:

[2016-03-02 13:38] loverajoel commented on #302
merged!

Thanks all :+1:

[2016-03-03 10:36] ro0NL commented on #287
Perhaps each tip should be indicated with some sort of level? i.e. `beginner`, `medior`, `pro`?

[2016-03-03 10:43] ro0NL opened #310 "Tips for other (programming) languages?"
First of all, I like the idea of this repo :+1: just a nice read now and then.

However i was wondering.. perhaps we should do this for other (programming) languages too, i.e. gather any tip in any language. Allowing us to filter on language, or perhaps a tailored page per language (PHPTips, JSTips, etc.)

What do you think?

[2016-03-03 11:09] zenopopovici commented on #310
Right now we would have to change a lot to implement this or start separate side-projects. I don't know the availablility of @loverajoel to do that. Or maybe you could start your own project :)

[2016-03-03 11:09] zenopopovici commented on #287
@ro0NL Not a bad suggestion ... //cc @loverajoel

[2016-03-03 11:21] ro0NL commented on #310
I understand. I'm not sure @loverajoel only fancies JS a lot or is willing to support multiple programming languages at all. If so I would like to help and think a uniform app with tips would be a huge +1 from my POV.

So we have a few choices here;
- Integrate multiple languages in the current app (JSTips becomes GenericTips basicly or just Tips ;-))
- A side project per language in a uniform way

[2016-03-03 12:03] kurtextrem commented on #310
A "Tips" orga and for every repo one main maintainer (plus helpers) would
be ideal I'd say :D
Am 03.03.2016 12:21 schrieb "Roland Franssen" notifications@github.com:

[2016-03-03 12:52] neighborhood999 opened #312 "page build problem"
#295

![](http://imgur.com/4WAwR6t.png)

if **tip-tldr** start with (`), make build failure.

after fix:
![](http://imgur.com/Hx5u2WE.png)

so we need add this information to **CONTRIBUTING** for user.

[2016-03-03 16:52] zenopopovici commented on #312
@neighborhood999 https://github.com/loverajoel/jstips/blob/gh-pages/CONTRIBUTING.md
It's already added... We as contributors must be vigilant before performing merges also.

[2016-03-03 16:52] #312 closed

[2016-03-03 19:31] loverajoel commented on #312
for some reason, the build is broken and don't are sending the alert email.
I merged a new tip and sent another fix and the page didn't rebuild.
Any ideas?

[2016-03-03 19:33] loverajoel commented on #312
In local everything works as expected

[2016-03-03 19:43] loverajoel commented on #312
done :p

[2016-03-03 20:31] zenopopovici commented on #312
What was the issue?

[2016-03-04 00:53] neighborhood999 commented on #312
@zenopopovici I megred before I have check, but I don't know tip-tldr let page build broken...

![](http://i.imgur.com/64mC33c.png)
yesterday, I wording contributors_zh_TW but in **Use backticks..** display is not normal...
I have fix and send PR #315
I know I am collaborator but I think this need @loverajoel @zenopopovici review and check, thanks :smile:

[2016-03-04 02:20] rocketinventor commented on #70
@drakmail Mysteriously, I suddenly stopped receiving tip emails after February 18. An ideas why?

[2016-03-04 05:50] kurtextrem commented on #70
We've switched from daily to "higher quality through reviews first" meaning
there won't be daily tips, but instead from time to time.
Am 04.03.2016 03:20 schrieb "Elliot Gerchak" notifications@github.com:

[2016-03-04 14:16] zenopopovici commented on #312
@neighborhood999 Thanks ... I merged the change ... it looked fine in code, I'll be more careful.

Also please feel free to fix things if you see a problem. I think it's better for a problem to be fixes as soon as possible than to wait for someone to approve an obvious fix.

We can easily revert stuff if we do mistakes.

[2016-03-04 14:59] loverajoel commented on #312
I think that my problem was Github lag, now everything are working as expected!

[2016-03-05 05:05] loverajoel commented on #310
Yep, it's a good idea, but take a lot of time maintain one single repo (js tips) I can't imagine how many time will take administrate more tips projects.

I think that we have to find people from others languages (python, php, c, ...) and try it.

[2016-03-05 05:06] #302 closed

[2016-03-05 05:06] #293 closed

[2016-03-05 05:06] loverajoel commented on #293
fix merged

[2016-03-05 05:07] loverajoel commented on #287
@ro0NL @zenopopovici yep, we can create labels or tags and I jekyll support this

[2016-03-05 05:08] loverajoel commented on #285
I fixed that, now we are showing 10 per page, but still is strange

[2016-03-05 05:09] #272 closed

[2016-03-05 05:09] #262 closed

[2016-03-05 05:10] #257 closed

[2016-03-05 05:12] #182 closed

[2016-03-05 05:13] #142 closed

[2016-03-05 05:13] #96 closed

[2016-03-05 05:14] loverajoel commented on #69
@Awakens ping!

[2016-03-05 05:14] #68 closed

[2016-03-05 05:14] #66 closed

[2016-03-05 05:14] #62 closed

[2016-03-05 05:14] #55 closed

[2016-03-05 05:15] #10 closed

[2016-03-05 05:15] #195 closed

[2016-03-05 09:15] petetnt commented on #66
Whoops @zenopopovici missed that @-mention and did see it until this was closed. I can scratch up a PR though now quickly :+1:

[2016-03-05 13:39] zenopopovici commented on #275
I think we covered this. If you have a suggestion regarding contributing rules, just add a PR and we can discuss it.

[2016-03-05 13:39] #275 closed

[2016-03-05 13:44] zenopopovici commented on #123
Well we shouldn't do it just for the sake of it. If we can come up with short tips on Security, then please submit a pr, if not, then maybe it doesn't fit the purpose of jstips.

[2016-03-05 13:44] #123 closed

[2016-03-07 07:58] ro0NL commented on #285
@loverajoel the 1st page link is still wrong...

http://www.jstips.co/3/

Both page 1 & 2 are linking to page 2.

[2016-03-07 15:20] loverajoel commented on #285
@ro0NL true, I will check, thanks

[2016-03-08 17:46] drakmail commented on #70
@rocketinventor after switching from not a daily tips I got a small vacation :relaxed: Starting tomorrow I'll continue sending tips. But it will be sent according to new js tips policy, as @kurtextrem mentioned before.

[2016-03-15 22:17] tazcarper opened #332 "Tips not refreshing on iOS app"
On iPhone 6. V 9.2.1. None of the tips show up on the app. I check for updates and nothing happens. What else can I provide to help with this issue? Redownload the app?

[2016-03-18 13:46] zenopopovici commented on #332
@tazcarper Can you try to reinstall the app?

[2016-03-18 13:57] loverajoel commented on #332
@tazcarper we didn't make the iOs app, somebody with the RSS feed made that, and yes it's failing :(

[2016-03-20 02:45] Satya5614 commented on #332
@tazcarper there is  a bug which clears all tips. Reinstalling the app can help you for now. @loverajoel I promise I will release the next version of the app this week with bugs fixed. And as you suggested I am developing it in React-Native.

[2016-04-07 20:47] thelambdaparty opened #339 "Tip #49 easier unix timestamp"
Maybe an easier and faster way?

[code]

Does anyone know if this would have any problems?

[2016-04-07 23:39] FagnerMartinsBrack commented on #339
Is `timestamp = (+new Date / 1000) | 0` intended to be the same as `timestamp = ~~(+new Date / 1000)` which is intended to be the same as `Math.floor(+new Date / 1000)`? If yes, then it is worth pointing out the benefits of each one so that one can decide the tradeoffs.

[2016-04-08 03:21] lnfnunes commented on #339
I've no cons about neither of the options, just the sintaxe verbosity...
In terms of performance, _Date.now()_ looks faster than _new Date_ in my tests.

[2016-05-06 15:01] zenopopovici commented on #69
Closed due to inactivity.

[2016-05-06 15:01] #69 closed

[2016-05-06 15:01] zenopopovici commented on #214
Closed due to inactivity.

[2016-05-06 15:01] #214 closed

[2016-05-06 15:04] zenopopovici commented on #285
Merged this issue here: https://github.com/loverajoel/jstips/issues/223

[2016-05-06 15:04] #223 closed

[2016-05-12 07:10] kwoxer opened #350 "Just white screen instead of tips when no internet available"
Hey guys, I have this issue for about **5 months** or so.

First of all, really great tool, but very **buggy** on my **Android** device. Having the app installed and most of the time it runs well. I can see all the tips and so on. But sometimes (maybe when I not shutdown the app and I let it in the background for some days) when I want to access the App after some days again (**WITHOUT internet**)

[2016-05-12 09:30] sjfkai commented on #350
@Satya5614 ping

[2016-05-24 18:19] kwoxer commented on #350
Okay, so I still get it. And here is how to reproduce it and how to "fix" it. Maybe you get an idea how to fix it by coding.

So you just start jstips fresh. So the best is to restart Android. Now make sure you are not connected to internet as if you have no connection while traveling. And now you see the white page.

So why do you try to load or refresh the list if there is no connection? Absolut

[2016-06-09 14:38] cerlestes opened #356 "Genius Behaviour of Logical Operators"
First, awesome repository; I love it!

Now my suggestion for another tip: In my opinion, one of the best things about JS is the lax and kind of lazy way in which the logical operators `||` (logical OR, "default operator") and `&&` (logical AND, "guard operator") work. Basically: OR will yield the left value if truthy, otherwise the right value; AND will yield the right value if both are truthy, ot

[2016-06-10 07:47] zenopopovici commented on #356
@cerlestes Can you create a PR for it?

[2016-06-10 08:12] cerlestes commented on #356
I'll see if I can come up with an interesting text. No promises though :)

[2016-06-10 14:13] FagnerMartinsBrack commented on #356
Maybe we could improve this very good tip and add that it can be useful mostly to make sure your code is by any means impossible to read.

Jokes aside, there are cases where this might be useful though, let's say you are maintaining a library and you [want the code to be better gzipped by suppressing unnecessary indexed substring such as `:` and `?` for ternary operators that are not being used an

[2016-06-10 14:22] cerlestes commented on #356
@FagnerMartinsBrack I disagree. It's not widely used apart from the following case, but there it makes a lot of sense to use the operators in that way and even increases readability dramatically:

[code]

I agree that it can be used in wrong ways, but the tip should of course also explain that. The wrong way to use this is to execute code, just like with the ternary operator:

[code]

Please note

[2016-06-10 14:30] FagnerMartinsBrack commented on #356
You got me with the logical OR. This one is widely used for default values in ES5:

[code]

Although in ES6 with default parameters the idea is that it starts to be used less often.

Your second example clearly explain what I mean, using logical operators for cases where a regular imperative `if` would make much more sense.

[2016-06-12 14:25] ghost commented on #350
Slightly modified **manifest.json**

[code]

**index.html**

[code]

The service worker which will intercept the resource requests and serve the cached one  **js/sw.js**

[code]

Now both, the web page and the chrome app will work offline. The more **filesToCache** you add, the more will be accessible offline.

---

18 hours later, edited sw.js:

**js/sw.js**

[code]

---

[Ouch](https://github.co

[2016-06-12 16:22] kwoxer commented on #350
When will the new Version be out so that I can test :)

[2016-06-13 06:37] ghost commented on #350
Until the service worker caching is added to JS Tips, visit my blog to see the offline capability in action:
- Visit my blog so the resources to be cached
- Close the browser
- Pull out your internet cable
- Open up your browser
- Visit my blog page

The service worker will intercept the resource requests and serve the cached one (while u r offline) until you reboot your device.

The chrome app an

[2016-06-13 14:56] ghost commented on #350
It turns out that the service worker has life cycle, so my tablet was sleeping for roughly 2 hours and the first time I tried to load my blog didn't went well as the service worker was terminated while the droid was sleeping. On the second and every next time the blog was loaded from the cache while being offline ofc.

![](https://wifiextender.github.io/img/file/blog-web-app/1.jpg)

![](https://wi

[2016-06-16 15:45] hnaoto commented on #356
@cerlestes       = D Thanks for the interesting post

Although I don't have much knowledge of gzipping and bad use of ternary operator mentioned in previous comments, I have a use case of ternary operator. Please bear with me if it turns out to be bad practice : )

Some really simple if statement could be saved by using ternary operator

We could have

`var count = i  %  2   ?  6 :  7;`

instead o

[2016-06-20 23:25] ghost commented on #356
[code]

[code]

[code]

[2016-06-20 23:35] FagnerMartinsBrack commented on #356
@wifiextender Is that unmaintainable code you posted supposed to prove something?

[2016-06-21 05:45] kurtextrem commented on #356
I can perfectly understand what's going on.
Comments would be nice though (but not sure where to integrate them)

[2016-06-21 05:51] FagnerMartinsBrack commented on #356
There is also the alternative of trying to write legible code instead of writing comments to workaround it.

[2016-06-21 06:08] kurtextrem commented on #356
What exactly isn't understandable?
Even through my gmail app I could read the code, with syntax highlighting it's even easier.

[2016-06-21 07:09] FagnerMartinsBrack commented on #356
Code should be self documented. If the developer judges that a code need comments (as you proposed), then that is a strong indication that the code is not legible enough. If it was legible enough, then the need for comments explaining what the code is doing would be unnecessary.

[2016-06-21 12:42] ghost commented on #356
@FagnerMartinsBrack Your <= ES5 and **readable** alternative without using templating engine is ?

[code]

@kurtextrem Thanks for the support.

[2016-06-21 13:35] FagnerMartinsBrack commented on #356
@wifiextender

Using a proper view framework like React without trying to reinvent the wheel with plain JavaScript.

I am not saying that isn't a smart approach for templating, it is, but there are two kinds of smart solutions: The one that want to focus in being smart and focus in irrelevant performance at the cost of legibility, and the one that focus in solving problems with proper legibility a

[2016-06-21 15:55] ghost commented on #356
Same could be said for your statement:

When you complete porting my last and short example to ES5, you'll build the confidence that you can solve my first example. Upon trying it, you'll start losing track what's going on, the code will become more unreadable and you'll end up frustrated yelling at your screen. Then you'll realize what's the big deal of templating ~~languages~~ engines and framew

[2016-06-22 14:28] FagnerMartinsBrack commented on #356
I never said anything about ES5, you did.

Lots of assumptions and argument against a straw man that you created about this ES5 thing that I never mentioned.

I never mentioned it is better to use React in <= ES5 era, I mentioned it is better using React, it doesn't matter which ES version. My arguments were against the way variables in the template were structured using plain JS, not about using

[2016-08-01 12:38] philn5d opened #364 "Tips should be retroactively edited to add Tip # to them."
Looking for a specific tip number in source has an extra step since the source is referenced by date. Maybe add tip numbers to md file names so that it's easiest to find.

[2016-08-09 17:30] zenopopovici commented on #364
@philn5d Had that same issue. Thing is we can't change URLs but we could add the tip number. PRs are welcome. /cc @loverajoel

[2016-08-10 19:29] zenopopovici opened #368 "Adding JSBin retroactively to all Tips"
1. Maybe we should add JSBin retroactively to all tips under a JSBin account?
2. Should we implement labels too?

[2016-08-10 19:31] loverajoel commented on #368
I/m not sure it's a hard work, a lot of languages and a lot of tips. what do you think?

[2016-08-10 19:34] zenopopovici commented on #368
I think I can do some / all of the work. Should we create an account?

[2016-08-10 19:35] zenopopovici commented on #186
Moved to https://github.com/loverajoel/jstips/issues/368.
If you guys want to help let me know.

[2016-08-10 19:35] #186 closed

[2016-08-10 19:35] loverajoel commented on #368
ok I can help. Let me know how we can divide that. You can do it with your account.

[2016-08-10 19:35] zenopopovici commented on #368
Let me start the first PR. I think I can do it in the weekend.

[2016-08-10 19:36] zenopopovici commented on #364
Moved to: https://github.com/loverajoel/jstips/issues/368
Makes sense, since we're editing all tips.

[2016-08-10 19:36] #364 closed

[2016-08-10 19:39] zenopopovici commented on #356
Please come back with a PR. We can debate when we review it.

[2016-08-10 19:39] #356 closed

[2016-08-10 19:40] zenopopovici commented on #339
Leaving as it is right now. If you have a suggestion, please make a PR with addendum to the tip.

[2016-08-10 19:40] #339 closed

[2016-08-10 19:41] zenopopovici commented on #285
This si fixed.

[2016-08-10 19:41] #285 closed

[2016-08-10 19:43] zenopopovici commented on #287
Merged with: https://github.com/loverajoel/jstips/issues/368

[2016-08-10 19:43] #287 closed

[2016-08-10 19:44] zenopopovici commented on #368
@loverajoel Should we implement labels too? See #287

[2016-08-10 19:45] zenopopovici commented on #310
JS Tips for now. Is there are peple who want to fork this and become maintainers, let us know.

[2016-08-10 19:45] #310 closed

[2016-08-10 19:46] zenopopovici commented on #350
This is the best we can do right now. Thanks @wifiextender .

[2016-08-10 19:46] #350 closed

[2016-08-10 19:47] zenopopovici commented on #332
This should be fixed at least partially by #350.

[2016-08-10 19:47] #332 closed

[2016-08-15 17:58] zenopopovici commented on #368
@loverajoel Sorry will have to push back to next weekend. I'm swamped.

[2016-08-21 12:22] zenopopovici commented on #368
@loverajoel I've started this, but it's not as easy as it seems. Most tips must be changed in order to be run properly and display meaningful messages in the console.

#372

[2016-08-21 12:33] zenopopovici commented on #368
@loverajoel Have a look and tell me if I'm doing something wrong...

[2016-08-23 07:33] rahuldhawani opened #375 "JS tips on Slack"
Just a thought. Providing these superb tips on Slack channel. Any views?

[2016-08-23 11:41] zenopopovici commented on #375
You mean here: https://jstipscommunity.slack.com/ ?

We already have it, didn't have the time to create a registration form and link it to the API for new users to be created automatically. (Like here: https://levels.io/slack-typeform-auto-invite-sign-ups/)

If you want to help... any PR to do this would be greatly appreciated.

[2016-08-31 06:46] neighborhood999 opened #378 "JSTips Website problem"
![](http://i.imgur.com/uNIHpqd.png)

Other translation can't not display.

[2016-08-31 23:52] loverajoel commented on #378
yes, there is a new version of `jekyll`.
I can't resolve the bug

[2016-09-02 20:29] loverajoel commented on #378
I resolved it, thanks for reporting it!

[2016-09-02 20:29] #378 closed

[2016-09-03 07:25] sjfkai commented on #378
👍

[2016-09-12 14:04] benjamincharity opened #379 "RSS feed broken?"
We set up a `DevNews` slack channel at my work and added several RSS feeds to it which seemed to work fine for a while. I was noticing that we weren't getting any new tips from JSTips recently so I went to the RSS feed and it seems empty:

![google chrome - - screen shot sep 12 2016 10 02 42 am](https://cloud.githubusercontent.com/assets/270193/18438601/1a4fa290-78d0-11e6-9ab6-4cc9c5b369ed.png)

I

[2016-11-15 02:57] evelyn330 opened #383 "Inquiry reading using your image"
Hi I'm  a blog editor,  the js gif you're using is great, is it possible we can use with credit to your jstips page? Thank You!

[2016-11-24 08:22] LiuMengzhou opened #387 "The difference between "var a = function (args) {};" and "function a (args) {};""
As title says, I want to know the difference. Hope someone can write a post.

[2016-11-30 21:25] benjamincharity commented on #375
@rahuldhawani if someone fixes the RSS feed (#379) you could just set up slack to send the RSS feed to a specific slack channel. I've done this at work for `dev_news` (posts anytime the feed gets a new item) and for `dev_releases` where we've subscribed to the releases feed for various open source projects we use.

[2017-01-30 08:15] zenopopovici commented on #379
@loverajoel can we do something about this?

[2017-01-31 00:47] lnfnunes commented on #387
@LiuMengzhou, I'd write this but I've just realized there's already a [_hoisting topic_](https://github.com/loverajoel/jstips/blob/gh-pages/_posts/en/2016-01-11-hoisting.md) covering this subject.

Check it out the end of the example after the comment
[code]

[2017-04-06 13:58] zenopopovici commented on #387
Stale. Closing.

[2017-04-06 13:58] #387 closed

[2017-04-06 13:58] #383 closed

[2017-04-06 14:11] zenopopovici commented on #375
We've built this: https://jstips-slack.herokuapp.com
However there's not much traffic.

[2017-04-06 14:11] #375 closed

[2017-04-06 14:14] benjamincharity commented on #375
Because there is an email list, there will not be any RSS support?

[2017-04-06 14:30] zenopopovici opened #409 "Slack Community"
Hey Guys,

I've reviewed the idea of creating a Slack community around JS Tips. Let me know what you think: https://github.com/loverajoel/jstips/pull/408

https://jstips-slack.herokuapp.com

[2017-04-06 14:31] loverajoel commented on #383
Hi @evelyn330, sure you can, don't forget the credits :p

[2017-09-28 09:37] stuxt opened #427 "About the website of the Angular Slide background color and text color to hurt the eyes of the proposal"
About the website of the Angular Slide background color and text color to hurt the eyes of the proposal。

When I visit your website http://www.jstips.co/, Angular slide part of the red background with black words, so that the eyes are uncomfortable. The status quo is as follows:

![1506590805156](https://user-images.githubusercontent.com/4355192/30959711-94002e3c-a473-11e7-97ff-31c970ae4a9a.jpg)

[2017-09-28 17:14] zenopopovici commented on #427
@stuxt PR requests are welcome.

[2018-04-01 13:03] Rudy24 opened #429 "Avoid modifying or passing `arguments` into other functions — it kills optimization"
I have a little doubt about this【Avoid modifying or passing `arguments` into other functions — it kills optimization】，pls check the code as below

[code]
The result of running in chrome is as below,testSlicefast than testFor
[code]

[2018-04-02 13:46] Rudy24 commented on #429
@matjaz @sonnyp @fundon @mistic100 @ollicle

[2019-06-07 13:50] ronielramos opened #433 "Website Mobile"
The menu is not hidden on mobile version
![Screenshot_20190607-104802330](https://user-images.githubusercontent.com/15123917/59108686-e7ec8e80-8911-11e9-8429-d4af0b33a1c0.png)

[2020-06-20 11:22] #409 closed

[2020-06-20 11:22] #368 closed

[2020-10-30 18:37] veer-a1505 opened #437 "Js Tips"
Really helpful for me as a beginner 🤗

[2020-10-30 18:39] #437 closed

[2020-10-30 18:53] zenopopovici opened #438 "Correct wording on preorder page"
Sorry Joel, I didn't know how else to get in touch:

10+ years of experience are no longer needed to land your **dram** job.

[2020-10-30 18:58] zenopopovici commented on #429
I can't reproduce this.

[2020-10-30 18:58] #429 closed

[2020-11-02 10:38] loverajoel commented on #438
thanks @zenopopovici

[2020-11-02 10:38] #438 closed

[2020-11-23 17:24] dhbalaji commented on #433
Issue no longer occurring on mobile browsers. Kindly close the issue.

[2020-11-23 18:20] #433 closed

[2020-11-23 18:21] zenopopovici commented on #433
Thank you!

[2021-03-10 12:55] BinGuo666 opened #440 "The official website suggests that you do not jump to the new page by clicking！！！"
Every time you click in to view the current page, it will be covered！
When I go back to the home page, I have to find my last position again！

[2021-12-05 05:36] ismail17719 opened #443 "Tip#33 has a broken link"

[2021-12-06 17:12] zenopopovici commented on #443
@ismail17719 Please add a PR.

[2021-12-07 12:18] zenopopovici commented on #440
Fixed by #444

[2021-12-07 12:18] #440 closed

[2021-12-07 12:45] zenopopovici commented on #443
Fixed with #446

[2021-12-07 12:45] #443 closed

[2021-12-07 12:47] zenopopovici commented on #427
Closed due to inactivity.

[2021-12-07 12:47] #427 closed

[2021-12-07 12:54] zenopopovici commented on #379
Feed is now fixed.

[2021-12-07 12:54] #379 closed